{% macro switch_option(id, label, checked) %}
    <div class="form-check form-switch switch-option">
        <input class="form-check-input place-option" type="checkbox" role="switch" id="{{ id }}" {% if checked %}checked{% endif %}>
        <label class="form-check-label" for="{{ id }}">
            {{ label }}
        </label>
    </div>
{% endmacro %}

{% set option_list = [
    {'id': 'allows-dogs', 'label': 'Evcil hayvanlar için uygun', 'value': place.options.allowsDogs|default(false)},
    {'id': 'curbside-pickup', 'label': 'Araca teslim', 'value': place.options.curbsidePickup|default(false)},
    {'id': 'delivery', 'label': 'Teslimat', 'value': place.options.delivery|default(false)},
    {'id': 'serves-beer', 'label': 'Bira servisi', 'value': place.options.servesBeer|default(false)},
    {'id': 'dine-in', 'label': 'İşletmede Servis', 'value': place.options.dineIn|default(false)},
    {'id': 'editorial-summary', 'label': 'Editorial Summary', 'value': place.options.editorialSummary|default(false)},
    {'id': 'good-for-children', 'label': 'Çocuklar için uygun', 'value': place.options.goodForChildren|default(false)},
    {'id': 'good-for-groups', 'label': 'Gruplar için uygun', 'value': place.options.goodForGroups|default(false)},
    {'id': 'good-for-watching-sports', 'label': 'Spor yayını', 'value': place.options.goodForWatchingSports|default(false)},
    {'id': 'live-music', 'label': 'Canlı müzik', 'value': place.options.liveMusic|default(false)},
    {'id': 'takeout', 'label': 'Al götür', 'value': place.options.takeout|default(false)},
    {'id': 'menu-for-children', 'label': 'Çocuklar için menü', 'value': place.options.menuForChildren|default(false)},
    {'id': 'serves-vegetarian-food', 'label': 'Vejetaryen servisi', 'value': place.options.servesVegetarianFood|default(false)},
    {'id': 'outdoor-seating', 'label': 'Dışarda oturulacak alan', 'value': place.options.outdoorSeating|default(false)},
    {'id': 'serves-wine', 'label': 'Şarap servisi', 'value': place.options.servesWine|default(false)},
    {'id': 'reservable', 'label': 'Rezervasyon', 'value': place.options.reservable|default(false)},
    {'id': 'serves-lunch', 'label': 'Öğle yemeği servisi', 'value': place.options.servesLunch|default(false)},
    {'id': 'restroom', 'label': 'Dinlenme alanı', 'value': place.options.restroom|default(false)},
    {'id': 'serves-dinner', 'label': 'Akşam yemeği servisi', 'value': place.options.servesDinner|default(false)},
    {'id': 'serves-desserts', 'label': 'Tatlı servisi', 'value': place.options.servesDesserts|default(false)},
    {'id': 'serves-coffee', 'label': 'Kahve servisi', 'value': place.options.servesCoffee|default(false)},
    {'id': 'serves-cocktails', 'label': 'Kokteyl servisi', 'value': place.options.servesCocktails|default(false)},
    {'id': 'serves-brunch', 'label': 'Brunch Servisi', 'value': place.options.servesBrunch|default(false)},
    {'id': 'serves-breakfast', 'label': 'Kahvaltı servisi', 'value': place.options.servesBreakfast|default(false)}
] %}

{% if place.options is defined %}
    <div class="row">
        {% for option in option_list %}
            <div class="col-3">
                {{ _self.switch_option(option.id, option.label, option.value) }}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        {% for option in option_list %}
            <div class="col-3">
                {{ _self.switch_option(option.id, option.label, false) }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<style>
    .switch-option:hover,
    .switch-option *:hover {
        cursor: pointer;
        font-weight: bolder;
    }
</style>