<aside class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<a href="{{ path('admin_dashboard') }}" class="logo-img">
			<img src="{{asset('assets/images/yakala/logo.png')}}" class="logo-img" alt="">
		</a>
		<div class="sidebar-close">
			<span class="material-icons-outlined">close</span>
		</div>
	</div>
	<div class="sidebar-nav">
		<ul class="metismenu" id="sidenav">
			<li class="menu-label">Yönetim Paneli</li>
			<li>
				<a href="{{ path('app_admin_place_index') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">inventory_2</i>
					</div>
					<div class="menu-title">İşletmeler</div>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Ürünler</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_add') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Ekle</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Kategori İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_place_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Kategorileri</a></li>
					<li><a href="{{ path('app_admin_product_category') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Kategorileri</a></li>
					<li><a href="{{ path('app_admin_menu_category') }}"><i class="material-icons-outlined">arrow_right</i>Menü Kategorileri</a></li>
					<li><a href="{{ path('app_admin_concept_category') }}"><i class="material-icons-outlined">arrow_right</i>Konsept Kategorileri</a></li>
					<li><a href="{{ path('app_admin_cuisine_category') }}"><i class="material-icons-outlined">arrow_right</i>Mutfak Kategorileri</a></li>
					<li><a href="{{ path('app_admin_place_photo_category') }}"><i class="material-icons-outlined">arrow_right</i>Fotoğraf Kategorileri</a></li>
					<li><a href="{{ path('app_admin_source_category') }}"><i class="material-icons-outlined">arrow_right</i>Kaynak Kategorileri</a></li>
					<li><a href="{{ path('app_admin_place_account_category') }}"><i class="material-icons-outlined">arrow_right</i>Hesap Kategorileri</a></li>
					<li><a href="{{ path('app_admin_contact_category') }}"><i class="material-icons-outlined">arrow_right</i>İletişim Kategorileri</a></li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Etiket İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_tag') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Etiketleri</a></li>
					<li><a href="{{ path('app_admin_place_tag') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Etiketleri </a></li>
					<li><a href="{{ path('app_admin_menu_tag') }}"><i class="material-icons-outlined">arrow_right</i>Menu Etiketleri </a></li>
				</ul>
			</li>
			
			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Tür İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_type') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Türleri</a></li>
					<li><a href="{{ path('app_admin_menu_type') }}"><i class="material-icons-outlined">arrow_right</i>Menü Türleri</a></li>
					<li><a href="{{ path('app_admin_place_type') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Türleri</a></li>
				</ul>
			</li>
		</ul>
	</div>
</aside>
