<aside class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<a href="{{ path('admin_dashboard') }}" class="logo-img">
			<img src="{{asset('assets/images/yakala/logo.png')}}" class="logo-img" alt="">
		</a>
		<div class="sidebar-close">
			<span class="material-icons-outlined">close</span>
		</div>
	</div>
	<div class="sidebar-nav">
		<ul class="metismenu" id="sidenav">
			<li class="menu-label">Yönetim Paneli</li>
			<li>
				<a href="{{ path('places') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">inventory_2</i>
					</div>
					<div class="menu-title">İşletmeler</div>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">İşletme Kategori İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('place_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Kategorileri</a></li>
					<li><a href="{{ path('concept_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Konsept Kategorileri</a></li>
					<li><a href="{{ path('cuisine_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Mutfak Kategorileri</a></li>
					<li><a href="{{ path('place_photo_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Fotoğraf Kategorileri</a></li>
					<li><a href="{{ path('place_source_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Kaynak Kategorileri</a></li>
					<li><a href="{{ path('place_account_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Hesap Kategorileri</a></li>
					<li><a href="{{ path('contact_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme İletişim Kategorileri</a></li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Ürün Kategori İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('product_category') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Kategorisi Ekle</a></li>
					<li><a href="{{ path('product_tag') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Etiketi Ekle</a></li>
					<li><a href="{{ path('product_type') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Türü Ekle</a></li>
				</ul>
			</li>

			<li>
				<a href="{{ path('product_category') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">inventory_2</i>
					</div>
					<div class="menu-title">Ürün kategorileri</div>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Ürünler</div>
				</a>
				<ul>
					<li><a href="{{ path('admin_add_product') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Ekle</a></li>
				</ul>
			</li>
		</ul>
	</div>
</aside>
