<aside class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<a href="{{ path('admin_dashboard') }}" class="logo-img sidebar-toggle-y">
			<img src="https://cdn.yaka.la/assets/web/logo.jpg" class="logo-img" alt="Yakalamaç">
		</a>
		<a href="{{ path('admin_dashboard') }}" class="logo-img sidebar-toggled-y">
			<img src="https://cdn.yaka.la/assets/web/yakalamac-icon.png" class="logo-img w-40px" alt="Yakalamaç">
		</a>
		<div class="sidebar-close">
			<span class="material-icons-outlined">close</span>
		</div>
	</div>
	<div class="sidebar-nav">
		<ul class="metismenu" id="sidenav">
			<li class="menu-label">Yönetim Paneli</li>
			{% if is_granted('ADMIN_ENTITY_VIEWER') %}
			<li>
				<a href="{{ path('app_admin_place_index') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">inventory_2</i>
					</div>
					<div class="menu-title">İşletmeler</div>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">shopping_bag</i>
					</div>
					<div class="menu-title">Ürünler</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_index') }}"><i class="material-icons-outlined">arrow_right</i>Ürünler</a></li>
					<li><a href="{{ path('app_admin_product_add') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Ekle</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">api</i>
					</div>
					<div class="menu-title">Kategori İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_place_category') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Kategorileri</a></li>
					<li><a href="{{ path('app_admin_product_category') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Kategorileri</a></li>
					<li><a href="{{ path('app_admin_concept_category') }}"><i class="material-icons-outlined">arrow_right</i>Konsept Kategorileri</a></li>
					<li><a href="{{ path('app_admin_cuisine_category') }}"><i class="material-icons-outlined">arrow_right</i>Mutfak Kategorileri</a></li>
					<li><a href="{{ path('app_admin_place_photo_category') }}"><i class="material-icons-outlined">arrow_right</i>Fotoğraf Kategorileri</a></li>
					<li><a href="{{ path('app_admin_source_category') }}"><i class="material-icons-outlined">arrow_right</i>Kaynak Kategorileri</a></li>
					<li><a href="{{ path('app_admin_place_account_category') }}"><i class="material-icons-outlined">arrow_right</i>Hesap Kategorileri</a></li>
					<li><a href="{{ path('app_admin_contact_category') }}"><i class="material-icons-outlined">arrow_right</i>İletişim Kategorileri</a></li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">attach_file</i>
					</div>
					<div class="menu-title">Etiket İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_tag') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Etiketleri</a></li>
					<li><a href="{{ path('app_admin_place_tag') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Etiketleri </a></li>
				</ul>
			</li>
			
			<li>
				<a href="javascript:void(0)" class="has-arrow">
					<div class="parent-icon">
						<i class="material-icons-outlined">view_agenda</i>
					</div>
					<div class="menu-title">Tür İşlemleri</div>
				</a>
				<ul>
					<li><a href="{{ path('app_admin_product_type') }}"><i class="material-icons-outlined">arrow_right</i>Ürün Türleri</a></li>
					<li><a href="{{ path('app_admin_place_type') }}"><i class="material-icons-outlined">arrow_right</i>İşletme Türleri</a></li>
				</ul>
			</li>
			{% endif %}
			{# Use IS_GRANTED to hide this field from users who have not access #}
			{% if is_granted('ADMIN_USER_VIEWER') %}
				<li>
					<a href="{{path('app_users')}}" >
						<div class="parent-icon">
							<i class="material-icons-outlined">person</i>
						</div>
						<div class="menu-title">Kullanıcılar</div>
					</a>	
				</li>
			{% endif %}
			{% if is_granted('ADMIN_USER_VIEWER') %}
				<li>
					<a href="{{path('app_dictionary')}}" >
						<div class="parent-icon">
							<i class="material-icons-outlined">menu_book</i>
						</div>
						<div class="menu-title">Ürün Sözlüğü</div>
					</a>	
				</li>
			{% endif %}
			{% if is_granted('ADMIN_SUPER') %}
			<li class="menu-label">Sistem</li>
			<li>
				<a href="{{ path('admin_changelog_index') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">published_with_changes</i>
					</div>
					<div class="menu-title">Güncelleme Notları</div>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_audit_logs') }}">
					<div class="parent-icon">
						<i class="material-icons-outlined">recent_actors</i>
					</div>
					<div class="menu-title">Kullanıcı Logları</div>
				</a>
			</li>
			{% endif %}
			<li>
				<a href="#">
					<div class="parent-icon">
						<i class="material-icons-outlined">contact_support</i>
					</div>
					<div class="menu-title">İstek/Hata Bildir</div>
				</a>
			</li>
		</ul>
	</div>
</aside>
