{% extends 'partner/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
    <link href="{{ asset('plugins/fancy-file-uploader/fancy_fileupload.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

{% block body %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Ürün</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><i class="bx bx-home-alt"></i></li>
                    <li class="breadcrumb-item  " aria-current="page">Tekil Ürün Ekleyin</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->



    <!-- Tab pane list -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab-basic-props" role="tab"
                       aria-selected="true">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Temel Özellikler</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " data-bs-toggle="pill" href="#tab-options" role="tab"
                       aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Sipariş Seçenekleri</div>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- Tab pane list end / -->


    <!-- Tab pane content -->
    <div class="row">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">
                <!-- Basic Props Tab Content Start -->
                <div class="tab-pane fade show active" id="tab-basic-props" role="tabpanel">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <h5 class="mb-3">Ürün Adı</h5>
                                        <input type="text" class="form-control" placeholder="Bu alanı doldurmadınız"
                                               aria-label="Product name" name="pname">
                                    </div>
                                    <div class="mb-4">
                                        <h5 class="mb-3">Ürün Açıklaması</h5>
                                        <textarea class="form-control" cols="4" rows="2"
                                                  placeholder="bir açıklama giriniz.." aria-label="description"
                                                  name="description"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <h5 class="mb-3">Pazarlama</h5>
                                        <div class="row g-3">
                                            <div class="col-12 col-lg-3">
                                                <div class="nav flex-column nav-pills border rounded vertical-pills overflow-hidden">
                                                    <button class="nav-link px-4 rounded-0" data-bs-toggle="pill"
                                                            data-bs-target="#Pricing" type="button"><i
                                                                class="bi bi-tag-fill me-2"></i>Fiyatlandırma
                                                    </button>
                                                    <button class="nav-link active px-4 rounded-0" data-bs-toggle="pill"
                                                            data-bs-target="#Shipping" type="button"><i
                                                                class="bi bi-truck-front-fill me-2"></i>Teslimat
                                                    </button>
                                                    <button class="nav-link px-4 rounded-0" data-bs-toggle="pill"
                                                            data-bs-target="#Advanced" type="button"><i
                                                                class="bi bi-handbag-fill me-2"></i>Gelişmiş
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-9">
                                                <div class="tab-content">

                                                    <div class="tab-pane fade" id="Pricing">
                                                        <div class="row g-3">
                                                            <div class="col-12 col-lg-6">
                                                                <h6 class="mb-2">Ürün Fiyatı</h6>
                                                                <input class="form-control" type="text" placeholder="₺"
                                                                       aria-label="price" name="pprice">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade show active" id="Shipping">
                                                        <div class="d-flex flex-column h-100">
                                                            <h6 class="mb-3">Teslimat Tercihi</h6>
                                                            <div class="flex-1">
                                                                <div class="mb-4">
                                                                    <div class="form-check mb-1">
                                                                        <input class="form-check-input" type="radio"
                                                                               name="shippingRadio"
                                                                               id="fullResponsibilityBySeller">
                                                                        <label class="form-check-label fw-bold"
                                                                               for="fullResponsibilityBySeller">Kendi
                                                                            kuryem</label></div>
                                                                    <div class="ps-4">
                                                                        <p class="mb-0">Ürün teslimatından siz
                                                                            sorumlusunuz. <br>Herhangi bir sorunda
                                                                            sorumluluk tamamen size aittir.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-4">
                                                                    <div class="form-check mb-1">
                                                                        <input class="form-check-input" type="radio"
                                                                               name="shippingRadio"
                                                                               id="fullresponsibleByPhoenix"
                                                                               checked="checked">
                                                                        <label class="form-check-label fw-bold d-flex align-items-center"
                                                                               for="fullresponsibleByPhoenix">Yakala
                                                                            Hizmeti<span
                                                                                    class="badge bg-warning text-dark ms-2">Önerilen</span></label>
                                                                    </div>
                                                                    <div class="ps-4">
                                                                        <p class="mb-0">Sizin ürününüz, bizim
                                                                            sorumluluğumuz. <br>Düşük bir ücret
                                                                            karşılığında teslimat sürecini sizin adınıza
                                                                            biz hallediyoruz.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="fs--1 fw-semi-bold mb-0">Detaylar için <a
                                                                        class="fw-bold" href="/delivery-conditions"
                                                                        target="_blank">Teslimat koşulları</a>mızı inceleyin.</p>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="Advanced">
                                                        <h6 class="mb-3">Sözlük</h6>
                                                        <div class="row g-3">
                                                            <div class="col-12 col-lg-6">
                                                                <select name="dictionary" aria-label="dictionary"
                                                                        class="form-select" id="dictionary" data-auto-select2="true"
                                                                        data-adapter="dictionary_adapter" data-source="dictionary"
                                                                        data-declaration="dictionary"
                                                                        data-placeholder="İlgili ürünü arayın"></select>
                                                            </div>
                                                            <p class="fs--1 fw-semi-bold mb-0">
                                                                Filtre ve arama sonuçlarında daha iyi eşleşme için
                                                                ürününüzü
                                                                <a class="fw-bold" href="/delivery-conditions"
                                                                   target="_blank">Yakala Sözlüğü</a>
                                                                içeriklerinden uygun olan ile eşleştirin. Hedef
                                                                kitlenizin ürününüzü bulmasını kolaylaştırır.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center gap-3">
                                        <button onclick="window.location.href='/partner/products';" type="button"
                                                class="btn btn-outline-danger flex-fill"
                                                title="Ürünlere dön" aria-label="Back"
                                                aria-description="back to the products">
                                            <i class="bi bi-x-circle me-2"></i> Vazgeç
                                        </button>
                                        <button onclick="window.dispatchEvent(new Event('pushproduct'))" type="button" class="btn btn-outline-primary flex-fill"><i
                                                    class="bi bi-send me-2"></i>Yayınla
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Tanım</h5>
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <label for="category" class="form-label">Kategori</label>
                                            <select class="form-select" name="category" id="category" multiple
                                                    data-auto-select2="true" data-declaration="category"
                                                    data-adapter="description_adapter" data-source="product_category"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                        <div class="col-12">
                                            <label for="types" class="form-label">Tür</label>
                                            <select name="types[]" id="types" class="form-select"
                                                    data-auto-select2="true" data-declaration="type" multiple
                                                    data-adapter="description_adapter" data-source="product_type"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                        <div class="col-12">
                                            <label for="tags" class="form-label">İlgili Etiketler</label>
                                            <select name="tags[]" id="tags" class="form-control"
                                                    data-auto-select2="true" data-declaration="hashtag" multiple
                                                    data-adapter="tag_adapter" data-source="product_tag"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                    </div> <!--end row-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Basic Props Tab Content End / -->

                <!-- Options Tab Content Start -->
                <div class="tab-pane fade" id="tab-options" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-3">Promosyonlar</h5>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input name="title[]" type="text" class="form-control" id="title"
                                           placeholder="Başlık" aria-label="title">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" name="limit[]" id="limit"
                                           placeholder="Limit" aria-label="limit">
                                </div>
                                <div class="col-12">
                                    <div class="form-check form-switch form-check-success">
                                        <input class="form-check-input" type="checkbox" role="switch" id="multiple"
                                               checked name="multiple[]">
                                        <label class="form-check-label" for="multiple">Birden çok seçilebilir</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Seçenekler</label>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-primary">Seçenek Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Options Tab Content End / -->

            </div>
        </div>
    </div>
    <!-- Tab pane content end / -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fancy-fileupload.js') }}?v=1"></script>
    <script type="module" src="{{ asset('script/partner/product/add.js') }}"></script>
{% endblock %}