{% extends 'partner/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
    <link href="{{ asset('plugins/fancy-file-uploader/fancy_fileupload.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

{% block body %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Ürün</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="/partner/products"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">İşlemler</button>
                <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                    <a class="dropdown-item" href="javascript:void(0);">Kopyala</a>
                    <a class="dropdown-item" href="javascript:void(0);">Yorumları Gör</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger cursor-pointer" id="delete-btn">Sil</a>
                </div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->

    <!-- Tab pane list -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab-basic-props" role="tab"
                       aria-selected="true">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Temel Özellikler</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " data-bs-toggle="pill" href="#tab-options" role="tab"
                       aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Sipariş Seçenekleri</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " data-bs-toggle="pill" href="#tab-photo" role="tab"
                       aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Fotoğraflar</div>
                        </div>
                    </a>
                </li>
                {#
                Todo Videos not implemented yet
                Todo <li class="nav-item" role="presentation">
                    <a class="nav-link " data-bs-toggle="pill" href="#tab-video" role="tab"
                        aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class=""></i></div>
                            <div class="tab-title">Videolar</div>
                        </div>
                    </a>
                Todo </li>
                #}
            </ul>

        </div>
    </div>
    <!-- Tab pane list end / -->

    <!-- Tab pane content -->
    <div class="row">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">

                <!-- Basic Props Tab Content Start -->
                <div class="tab-pane fade show active" id="tab-basic-props" role="tabpanel">

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <h5 class="mb-3">Ürün Adı</h5>
                                        <input type="text" class="form-control" placeholder="Bu alanı doldurmadınız"
                                               aria-label="Product name" value="{{ product.name }}" name="pname">
                                    </div>
                                    <div class="mb-4">
                                        <h5 class="mb-3">Ürün Açıklaması</h5>
                                        <textarea class="form-control" cols="4" rows="2"
                                                  placeholder="bir açıklama giriniz.." aria-label="description"
                                                  name="description">{{ product.description }}</textarea>
                                    </div>

                                    <div class="mb-4">
                                        <h5 class="mb-3">Ürün Fiyatı</h5>
                                        <input class="form-control" type="text" placeholder="₺"
                                            aria-label="price" value="{{ product.price|default('') }}">
                                    </div>

                                    <div class="mb-4">
                                        <h5 class="mb-3">Sözlük</h5>
                                        <select name="dictionary" aria-label="dictionary"
                                                class="form-select" id="dictionary" data-auto-select2="true"
                                                data-adapter="dictionary_adapter" data-source="dictionary"
                                                data-placeholder="İlgili ürünü arayın" data-declaration="dictionary"></select>
                                        <p class="fs--1 fw-semi-bold mb-0 mt-2">
                                            Filtre ve arama sonuçlarında daha iyi eşleşme için ürününüzü
                                            <a class="fw-bold" href="/delivery-conditions" target="_blank">Yakala Sözlüğü</a>
                                            içeriklerinden uygun olan ile eşleştirin. Hedef kitlenizin ürününüzü bulmasını kolaylaştırır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Tanım</h5>
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <label for="category" class="form-label">Kategori</label>
                                            <select class="form-select" name="category" id="category" multiple
                                                    data-auto-select2="true" data-declaration="category"
                                                    data-adapter="description_adapter" data-source="product_category"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                        <div class="col-12">
                                            <label for="types" class="form-label">Tür</label>
                                            <select name="types[]" id="types" class="form-select" multiple
                                                    data-auto-select2="true" data-declaration="type"
                                                    data-adapter="description_adapter" data-source="product_type"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                        <div class="col-12">
                                            <label for="tags" class="form-label">İlgili Etiketler</label>
                                            <select name="tags[]" id="tags" class="form-control"
                                                    data-auto-select2="true" multiple data-declaration="hashtag"
                                                    data-adapter="tag_adapter" data-source="product_tag"
                                                    data-placeholder="Hiç seçilmedi"></select>
                                        </div>
                                    </div> <!--end row-->
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center gap-3">
                                        <button onclick="window.location.href='/partner/products';" type="button"
                                                class="btn btn-outline-danger flex-fill"
                                                title="Ürünlere dön" aria-label="Back"
                                                aria-description="back to the products">
                                            <i class="bi bi-x-circle me-2"></i> Vazgeç
                                        </button>
                                        <button onclick="window.dispatchEvent(new Event('updateproduct'))"
                                                type="button" class="btn btn-outline-primary flex-fill">
                                            <i class="bi bi-send me-2"></i> Yayınla
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Basic Props Tab Content End / -->

                <!-- Options Tab Content Start -->
                <div class="tab-pane fade" id="tab-options" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-3">Promosyonlar</h5>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input name="title[]" type="text" class="form-control" id="title"
                                           placeholder="Başlık" aria-label="title">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" name="limit[]" id="limit"
                                           placeholder="Limit" aria-label="limit">
                                </div>
                                <div class="col-12">
                                    <div class="form-check form-switch form-check-success">
                                        <input class="form-check-input" type="checkbox" role="switch" id="multiple"
                                               checked name="multiple[]">
                                        <label class="form-check-label" for="multiple">Birden çok seçilebilir</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Seçenekler</label>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-primary">Seçenek Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade " id="tab-photo" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <label class="card-label">Fotoğraflar</label>
                                </div>
                                <div class="col ms-auto text-end">
                                    <button class="btn btn-primary mb-3" id="btn-add-photo">Ekle</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="photo-storage" class="row g-3 justify-content-center"></div>
                        </div>
                    </div>

                    <div class="modal fade" id="photo-add-modal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0 py-2">
                                    <h5 class="modal-title">Fotoğraf Ekle</h5>
                                    <a class="primaery-menu-close" data-bs-dismiss="modal">
                                        <i class="material-icons-outlined">close</i>
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-4">
                                        <input id="fancy-file-upload" type="file" name="files"
                                               accept=".jpg, .png, image/jpeg, image/png" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Photo modal end / -->

                </div>
                <!-- Photo Tab Content End / -->

                {#
                Todo Videos not implemented yet.
                Todo <!-- Video Tab Content Start -->
                Todo <div class="tab-pane fade " id="tab-video" role="tabpanel">
                Todo </div>
                Todo <!-- Video Tab Content End / -->
                #}
            </div>
        </div>
    </div>
    <!-- Tab pane content end / -->

    <!--end row-->
{% endblock %}

{% block javascripts %}
    <script>window.product = JSON.parse('{{ product|json_encode|raw }}');</script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fancy-fileupload.js') }}?v=1"></script>
    <script type="module" src="{{ asset('script/partner/product/edit.js') }}"></script>
{% endblock %}