{% extends 'partner/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
    <link href="{{ asset('plugins/fancy-file-uploader/fancy_fileupload.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

{% block body %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Ürün</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="/partner/products"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">İşlemler</button>
                <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                    <a class="dropdown-item" href="javascript:void(0);">Kopyala</a>
                    <a class="dropdown-item" href="javascript:void(0);">Yorumları Gör</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger cursor-pointer" id="delete-btn">Sil</a>
                </div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->
    <form method="post">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5 class="mb-3">Ürün Adı</h5>
                            <input type="text" class="form-control" placeholder="Bu alanı doldurmadınız" aria-label="Product name" value="{{ product.name }}" name="pname">
                        </div>
                        <div class="mb-4">
                            <h5 class="mb-3">Ürün Açıklaması</h5>
                            <textarea class="form-control" cols="4" rows="6" placeholder="bir açıklama giriniz.." aria-label="description" name="description">{{ product.description }}</textarea>
                        </div>
                        <div class="mb-4">
                            <h5 class="mb-3">Inventory</h5>
                            <div class="row g-3">
                                <div class="col-12 col-lg-3">
                                    <div class="nav flex-column nav-pills border rounded vertical-pills overflow-hidden">
                                        <button class="nav-link px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#Pricing" type="button"><i class="bi bi-tag-fill me-2"></i>Fiyat</button>
                                        <button class="nav-link px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#Restock" type="button"><i class="bi bi-box-seam-fill me-2"></i>Yönetim</button>
                                        <button class="nav-link active px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#Shipping" type="button"><i class="bi bi-truck-front-fill me-2"></i>Teslimat</button>
                                        <button class="nav-link px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#GlobalDelivery" type="button"><i class="bi bi-globe me-2"></i>Global Delivery</button>
                                        <button class="nav-link px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#Attributes" type="button"><i class="bi bi-hdd-rack-fill me-2"></i>Attributes</button>
                                        <button class="nav-link px-4 rounded-0" data-bs-toggle="pill" data-bs-target="#Advanced" type="button"><i class="bi bi-handbag-fill me-2"></i>Gelişmiş</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="Pricing">
                                            <div class="row g-3">
                                                <div class="col-12 col-lg-6">
                                                    <h6 class="mb-2">Ürün fiyatı</h6>
                                                    <input class="form-control" type="text" placeholder="X ₺" aria-label="price">
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <h6 class="mb-2">İndirimli fiyat</h6>
                                                    <input class="form-control" type="text" placeholder="Y ₺" aria-label="sale price">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Restock">
                                            <h6 class="mb-3">Ürün Barkod Numarası</h6>
                                            <div class="row g-3">
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="text" placeholder="XXXX-YYYY-XXXX" aria-label="barcode">
                                                </div>
                                                <div class="col-sm">
                                                    <button class="btn btn-outline-primary"><i class="bi bi-check2 me-2"></i>Onayla</button>
                                                </div>
                                            </div>
                                            <table class="mt-3">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px;"></th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-1000 py-1">Product in stock now:</td>
                                                    <td class="text-700 fw-semi-bold py-1">$2,059<button class="btn p-0 ms-2" type="button"><i class="bi bi-arrow-clockwise"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-1000 py-1">Product in transit:</td>
                                                    <td class="text-700 fw-semi-bold py-1">3000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-1000 py-1">Last time restocked:</td>
                                                    <td class="text-700 fw-semi-bold py-1">25th March, 2020</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-1000 py-1">Total stock over lifetime:</td>
                                                    <td class="text-700 fw-semi-bold py-1">50,000</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade show active" id="Shipping">
                                            <div class="d-flex flex-column h-100">
                                                <h6 class="mb-3">Teslimat Tercihi</h6>
                                                <div class="flex-1">
                                                    <div class="mb-4">
                                                        <div class="form-check mb-1">
                                                            <input class="form-check-input" type="radio" name="shippingRadio" id="fullResponsibilityBySeller">
                                                            <label class="form-check-label fw-bold" for="fullResponsibilityBySeller">Kendi kuryem</label></div>
                                                        <div class="ps-4">
                                                            <p class="mb-0">Ürün teslimatından siz sorumlusunuz. <br>Herhangi bir sorunda sorumluluk tamamen size aittir.</p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-check mb-1">
                                                            <input class="form-check-input" type="radio" name="shippingRadio" id="fullresponsibleByPhoenix" checked="checked">
                                                            <label class="form-check-label fw-bold d-flex align-items-center" for="fullresponsibleByPhoenix">Yakala Hizmeti<span class="badge bg-warning text-dark ms-2">Önerilen</span></label></div>
                                                        <div class="ps-4">
                                                            <p class="mb-0">Sizin ürününüz, bizim sorumluluğumuz. <br>Düşük bir ücret karşılığında teslimat sürecini sizin adınıza biz hallediyoruz.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="fs--1 fw-semi-bold mb-0">Detaylar için <a class="fw-bold" href="/delivery-conditions" target="_blank">Teslimat koşulları</a>mızı inceleyin.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="GlobalDelivery">
                                            <div class="d-flex flex-column h-100">
                                                <h6 class="mb-3">Global Delivery</h6>
                                                <div class="flex-1">
                                                    <div class="mb-4">
                                                        <div class="form-check mb-1">
                                                            <input class="form-check-input" type="radio" name="shippingRadio" id="Worldwidedelivery">
                                                            <label class="form-check-label fw-bold" for="Worldwidedelivery">Worldwide delivery</label>
                                                        </div>
                                                        <div class="ps-4">
                                                            <p class="mb-0">Only available with Shipping method: <a href="#!">Fullfilled by Admin</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-check mb-1">
                                                            <input class="form-check-input" type="radio" name="shippingRadio" id="SelectedCountries" checked="checked">
                                                            <label class="form-check-label fw-bold d-flex align-items-center" for="SelectedCountries">Selected Countries</label>
                                                        </div>
                                                        <div class="ps-4">
                                                            <input class="form-control" type="text" placeholder="Type Country name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-0">
                                                        <div class="form-check mb-1">
                                                            <input class="form-check-input" type="radio" name="shippingRadio" id="Localdelivery">
                                                            <label class="form-check-label fw-bold" for="Localdelivery">Local delivery</label>
                                                        </div>
                                                        <div class="ps-4">
                                                            <p class="mb-0">Only available with Shipping method: <a href="#!">Fullfilled by Admin</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Attributes">
                                            <h6 class="mb-3">Attributes</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" id="fragileCheck" type="checkbox">
                                                <label class="form-check-label text-900 fs-0" for="fragileCheck">Fragile Product</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="biodegradableCheck" type="checkbox">
                                                <label class="form-check-label text-900 fs-0" for="biodegradableCheck">Biodegradable</label>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-check"><input class="form-check-input" id="frozenCheck" type="checkbox" checked="checked">
                                                    <label class="form-check-label text-900 fs-0" for="frozenCheck">Frozen Product</label>
                                                    <input class="form-control" type="text" placeholder="Max. allowed Temperature" style="max-width: 350px;">
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="productCheck" type="checkbox" checked="checked">
                                                <label class="form-check-label text-900 fs-0" for="productCheck">Expiry Date of Product</label>
                                                <input class="form-control" id="inventory" type="date">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Advanced">
                                            <h6 class="mb-3">Sözlük</h6>
                                            <div class="row g-3">
                                                <div class="col-12 col-lg-6">
                                                    <select name="dictionary" aria-label="dictionary" class="form-select" id="dictionary"
                                                        data-auto-select2="true" data-adapter="dictionary_adapter" data-source="dictionary"
                                                        data-placeholder=""></select>
                                                </div>
{#                                                <div class="col-12 col-lg-6">#}
{#                                                    <label class="mb-2">Product ID</label>#}
{#                                                    <input class="form-control" type="text" placeholder="ISBN Number">#}
{#                                                </div>#}
                                                <p class="fs--1 fw-semi-bold mb-0">
                                                    Filtre ve arama sonuçlarında daha iyi eşleşme için ürününüzü
                                                    <a class="fw-bold" href="/delivery-conditions" target="_blank">Yakala Sözlüğü</a>
                                                    içeriklerinden uygun olan ile eşleştirin. Hedef kitlenizin ürününüzü bulmasını kolaylaştırır.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center gap-3">
                            <button type="submit" class="btn btn-outline-primary flex-fill"><i class="bi bi-send me-2"></i>Yayınla</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Tanım</h5>
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="category" class="form-label">Kategori</label>
                                <select class="form-select" name="category" id="category" data-auto-select2="true"
                                        data-adapter="description_adapter" data-source="product_category" data-placeholder="Hiç seçilmedi"></select>
                            </div>
                            <div class="col-12">
                                <label for="types" class="form-label">Tür</label>
                                <select name="types[]" id="types" class="form-select" data-auto-select2="true"
                                        data-adapter="description_adapter" data-source="product_type" data-placeholder="Hiç seçilmedi"></select>
                            </div>
                            <div class="col-12">
                                <label for="tags" class="form-label">İlgili Etiketler</label>
                                <select name="tags[]" id="tags" class="form-control" data-auto-select2="true"
                                        data-adapter="tag_adapter" data-source="product_tag" data-placeholder="Hiç seçilmedi"></select>
                                <input type="text" class="form-control" id="tags" placeholder="tags">
                            </div>
                            <div class="col-12">
                                <div class="d-flex align-items-center gap-2">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-light border shadow-sm">Woman <i class="bi bi-x"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-light border shadow-sm">Fashion <i class="bi bi-x"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-light border shadow-sm">Furniture <i class="bi bi-x"></i></a>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="Vendor" class="form-label">Barkodtapdfasdfasfg</label>
                                <input type="text" class="form-control" id="Vendor" placeholder="Vendor">
                            </div>
                        </div><!--end row-->
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Promosyonlar</h5>
                        <div class="row g-3">
                            <div class="col-12">
                                <input name="title[]" type="text" class="form-control" id="title" placeholder="Başlık" aria-label="title">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" name="limit[]" id="limit" placeholder="Limit" aria-label="limit">
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch form-check-success">
                                    <input class="form-check-input" type="checkbox" role="switch" id="multiple" checked name="multiple[]">
                                    <label class="form-check-label" for="multiple">Birden çok seçilebilir</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Seçenekler</label>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="button" class="btn btn-primary">Seçenek Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <div class="col-2 btn">
        <div class="mb-4">
            <h5 class="mb-3">EKLE</h5>
            <input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <label class="card-label">Fotoğraflar</label>
                </div>
                <div class="col ms-auto text-end">
                    <button class="btn btn-primary mb-3">Ekle</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="photo-container row"></div>
        </div>
        <div class="card-footer" id="dots-footer">

        </div>
    </div>

    <!--end row-->
{% endblock %}

{% block javascripts %}
    <script>window.product=JSON.parse('{{ product|json_encode|raw }}');</script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fancy-fileupload.js') }}?v=1"></script>
    <script type="module" src="{{ asset('script/partner/product/edit.js') }}"></script>
{% endblock %}