{% extends 'admin/base.html.twig' %}

{% block body %}
    <!-- Dictionary ID for index.js --> 
    <div id="dictionaryId" data-dictionaryId="{{dictionary.id|default("") }}"></div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">

                <!-- Dictionary Detail -->
                <div class="tab-pane fade show active" id="primary-pills-profile" role="tabpanel">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="card rounded-4 border-top border-4 border-primary border-gradient-1">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-start justify-content-between mb-3">
                                        <div class="">
                                            <h5 class="mb-0 fw-bold">Sözlük Detayı</h5>
                                        </div>
                                        <div class="dropdown">
                                            <a href="javascript:void(0)"
                                               class="dropdown-toggle-nocaret options dropdown-toggle"
                                               data-bs-toggle="dropdown">
                                                <span class="material-icons-outlined fs-5">more_vert</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="javascript:void(0)">Buraya</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)">Özellikler</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)">Gelicek</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <form class="row g-4">
                                        <div class="col-md-6">
                                            <label for="firstName" class="form-label">Sözlük Adı</label>
                                            <input type="text" class="form-control" id="name"
                                                   value="{{ dictionary.name|default("") }}" placeholder="Bu alanı güncelleyin">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lastName" class="form-label">Ürün İçerik Bilgisi</label>
                                            <input type="text" class="form-control" id="content"
                                                   value="{{ dictionary.content|default("") }}" placeholder="Bu alanı güncelleyin">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="mobilePhone" class="form-label">Hizmet Türü</label>
                                            <input type="text" class="form-control" id="serviceType"
                                                   value="{{ dictionary.serviceType|default("") }}" placeholder="Bu alanı güncelleyin">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="email" class="form-label">Yanında Servis Edilen Ürünler</label>
                                            <input type="email" class="form-control" id="servedWith"
                                                   value="{{ dictionary.servedWith|default("") }}" placeholder="Bu alanı güncelleyin">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="input11" class="form-label">Açıklama</label>
                                            <textarea class="form-control" id="input11" placeholder="Açıklama ..."
                                                      rows="4"
                                                      cols="4">{{dictionary.description|default("")}}</textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-md-flex d-grid align-items-center gap-3">
                                                <button type="button" class="btn btn-primary px-5" id= "editDictionary">Güncelle</button>
                                                <button type="button" class="btn btn-light px-5">Sıfırla</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
{% endblock %}


{% block javascripts %}
    <script type="module" src="{{asset('script/pages/dictionary/dictionary.js')}}"></script>
{% endblock %}      