<!doctype html>
<html lang="en" data-bs-theme="light-theme">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {% block title %}Partner Paneli {% endblock %} - Yakalamaç</title>

		<link rel="icon" href="{{ asset('assets/images/yakala/yakalamac-icon.png') }}" type="image/png">
		<link href="{{ asset('assets/css/pace.min.css') }}" rel="stylesheet">
		<script src="{{ asset('assets/js/pace.min.js') }}"></script>

		<link href="{{ asset('assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/metismenu/metisMenu.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/metismenu/mm-vertical.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/simplebar/css/simplebar.css') }}">
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
		<link href="{{ asset('assets/css/bootstrap-extended.css') }}" rel="stylesheet">
		<link href="{{ asset('sass/main.css') }}" rel="stylesheet">
		<link href="{{ asset('sass/dark-theme.css') }}" rel="stylesheet">
		<link href="{{ asset('sass/blue-theme.css') }}" rel="stylesheet">
		<link href="{{ asset('sass/semi-dark.css') }}" rel="stylesheet">
		<link href="{{ asset('sass/bordered-theme.css') }}" rel="stylesheet">
<<<<<<< HEAD
		<link href="{{ asset('sass/responsive.css') }}" rel="stylesheet"> {% block stylesheets %}{% endblock %}

=======
		<link href="{{ asset('sass/responsive.css') }}" rel="stylesheet">
		{% block stylesheets %}
		{% endblock %}
		{% block javascripts %}
		{% endblock %}
>>>>>>> d377b790659db9398d28a483c46cb7e1719f1c35
		</head>
		<body>
			<!--start header-->
			{% include 'admin/modules/header.html.twig' %}
			<!--end top header-->

			<!--start sidebar-->
			{% include 'admin/modules/sidebar.html.twig' %}
			<!--end sidebar-->
				<main class="main-wrapper">
					<div class="main-content">
						{% block body %}
							{# Content is coming here #}
						{% endblock %}
				</div>
			</main>
			{% include 'admin/modules/footer.html.twig' %}

			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
			<script src="{{ asset('assets/plugins/metismenu/metisMenu.min.js') }}"></script>
			<script src="{{ asset('assets/plugins/apexchart/apexcharts.min.js') }}"></script>
			<script src="{{ asset('assets/plugins/simplebar/js/simplebar.min.js') }}"></script>
			<script src="{{ asset('assets/plugins/peity/jquery.peity.min.js') }}"></script>
			<script>
				$(".data-attributes span").peity("donut")
			</script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
			<script src="{{ asset('assets/js/dashboard1.js') }}"></script>
			<script> new PerfectScrollbar(".user-list") </script>
			{% block javascripts %}{% endblock %}
		</body>

	</html>
