{% extends 'base.html.twig' %}

{% block title %}Partner Paneli{% endblock %}

{% block base_stylesheets %}
    <script src="{{ asset('script/partner/base/index.js') }}" type="application/javascript"></script>
    <link href="{{ asset('horizontal/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/horizontal-menu.css') }}">
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block base_body %}
    <!--start header-->
    {% include 'partner/modules/header/index.html.twig' %}
    <!--end top header-->

    <!--start primary -->
    {% include 'partner/modules/primary/index.html.twig' %}
    <!--end primary -->

    <main class="main-wrapper">
        <div class="main-content">
            {% block body %}
                {# todo Content is coming here #}
            {% endblock %}
        </div>
    </main>

    <!--start footer -->
    {% include 'partner/modules/footer.html.twig' %}
    <!--end footer -->
{% endblock %}

{% block base_javascripts %}
    <script src="{{ asset('plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ asset('plugins/peity/jquery.peity.min.js') }}"></script>
    {% block javascripts %}
        {# todo Scripts are coming here #}
    {% endblock %}
{% endblock %}