{% extends 'base.html.twig' %}

{% block title %}Partner Paneli{% endblock %}

{% block base_stylesheets %}
    <script src="{{ asset('script/partner/base/index.js') }}" type="application/javascript"></script>
    <link href="{{ asset('horizontal/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/horizontal-menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">
    {#
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
        window.OneSignalDeferred = window.OneSignalDeferred || [];
        OneSignalDeferred.push(async function(OneSignal) {
            await OneSignal.init({
                appId: "84f4f021-8867-4257-8e08-c96e53060810",
                safari_web_id: "web.onesignal.auto.12398f86-c304-472b-bd93-39635fc69310",
                notifyButton: {
                    enable: true,
                },
            });
        });
    </script>
    #}
    {% block stylesheets %}
        {# todo Scripts are coming here #}
    {% endblock %}
{% endblock %}

{% block base_body %}
    <!--start header-->
    {% include 'partner/modules/header/index.html.twig' %}
    <!--end top header-->

    <!--start primary -->
    {% include 'partner/modules/primary/index.html.twig' %}
    <!--end primary -->

    <main class="main-wrapper">
        <div class="main-content">
            {% block body %}
                {# todo Content is coming here #}
            {% endblock %}
        </div>
    </main>

    <!--start footer -->
    {% include 'partner/modules/footer.html.twig' %}
    <!--end footer -->


    <!-- Place Activity Alert Modal -->
    <div class="modal fade" id="place-activity-alert">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 py-2">
                    <h5 class="modal-title"></h5>
                    <a class="primary-menu-close" data-bs-dismiss="modal">
                        <i class="material-icons-outlined">close</i>
                    </a>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-grd-info" id="accept">Onayla</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Place Activity Alert Modal / -->

{% endblock %}

{% block base_javascripts %}
    <script src="{{ asset('plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ asset('plugins/peity/jquery.peity.min.js') }}"></script>
    {% block javascripts %}
        {# todo Scripts are coming here #}
    {% endblock %}
{% endblock %}