{% extends 'base.html.twig' %}

{% block base_stylesheets %}
    <title> {% block title %}Partner Paneli {% endblock %} - Yakalamaç</title>

    <link rel="icon" href="{{ asset('assets/images/yakala/yakalamac-icon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">

    <link href="{{ asset('horizontal/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/horizontal-menu.css') }}">
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block base_body %}
    <!--start header-->
    {% include 'partner/modules/header/index.html.twig' %}
    <!--end top header-->

    <!--start primary -->
    {% include 'partner/modules/primary/index.html.twig' %}
    <!--end primary -->

    <main class="main-wrapper">
        <div class="main-content">
            {% block body %}
                {# todo Content is coming here #}
            {% endblock %}
        </div>
    </main>

    {% include 'partner/modules/footer.html.twig' %}
{% endblock %}

{% block base_javascripts %}
    <script src="{{ asset('plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ asset('plugins/peity/jquery.peity.min.js') }}"></script>
    {% block javascripts %}
        {# todo Scripts are coming here #}
    {% endblock %}
{% endblock %}