{% extends 'admin/base.html.twig' %}

{% block body %}
    <input type="hidden" id="page-identifier-place-id" value="{{ place._id }}">
    <div class="main-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">
                {{ place._source.name }}
            </div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">
                                <i class=" bx bx-home-alt ">
                                </i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            İşletmeler > {{ place._id }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">

                <ul class="nav nav-pills mb-3" role="tablist">

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="pill" href="#primary-pills-basic-props" role="tab"
                           aria-selected="true">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class="">
                                    </i>
                                </div>
                                <div class="tab-title">Temel Özellikler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#primary-pills-media" role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class=""></i>
                                </div>
                                <div class="tab-title">
                                    Medyalar
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#primary-pills-product" role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class="">
                                    </i>
                                </div>
                                <div class="tab-title">Ürünler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#primary-pills-commerical-information"
                           role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class="">
                                    </i>
                                </div>
                                <div class="tab-title">Ticari Bilgiler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#primary-pills-meta" role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class="">
                                    </i>
                                </div>
                                <div class="tab-title">Metalar</div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row-">
            <div class="col">
                <div class="tab-content" id="pills-tabContent">

                    <!-- Tab General Information Start -->
                    <div class="tab-pane fade show active" id="primary-pills-basic-props" role="tabpanel">

                        <div class="row">
                            <div class=" col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Genel Bilgiler
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <form>
                                            <div class="row">
                                                <div class="col-12">


                                                    <label for="place_name" class="form-label">
                                                        İşletme Adı
                                                    </label>
                                                    <input type="text" class="form-control" name="place_name"
                                                           placeholder="İşletme Adı" id="place_name"
                                                           value="{{ place._source.name }}">

                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <label class="form-label" for="select-primary-type">
                                                        Birincil Tür
                                                    </label>
                                                    <select class="form-select" id="select-primary-type"
                                                            name="place_primary_type">
                                                        {% if place._source.primaryType is defined
                                                            and place._source.primaryType.id is defined
                                                            and place._source.primaryType.description is defined %}
                                                            <option data-primary-type-id="{{ place._source.primaryType.id }}"
                                                                    selected>
                                                                {{ place._source.primaryType.description }}
                                                            </option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-4 mb-3">
                                                    <label class="form-label" id="total-rating-label">
                                                        Toplam Değerlendirme
                                                    </label>
                                                    <input type="text" class="form-control" name="place_rate"
                                                           id="place_name" value="{{ place._source.totalRating }}">
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="form-label" id="rating-label">
                                                        Değerlendirme Ortalaması
                                                    </label>
                                                    <input type="text" class="form-control" name="place_rate"
                                                           id="place_name" value="{{ place._source.rating }}">
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="form-label" id="rating-count-label">
                                                        Değerlendirme Sayısı
                                                    </label>
                                                    <input type="text" class="form-control" name="place_rate"
                                                           id="place_name" value="{{ place._source.userRatingCount }}">
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <label class="form-label" for="select-primary-type">
                                                        Konum
                                                    </label>
                                                        <div class="input-group mb-3">
                                                            <label class="input-group-text" for="place_location_latitude">
                                                                Enlem
                                                            </label>
                                                            <input type="number" class="form-control" name="place_rate" placeholder="0.1"
                                                                id="place_location_latitude"
                                                                value="{% if place._source.location is defined and place._source.location.latitude is defined %}{{ place._source.location.latitude }}{% endif %}">
                                                            <label class="input-group-text" for="place_location_longitude">
                                                                Boylam
                                                            </label>
                                                            <input type="number" class="form-control" name="place_location_longitude" placeholder="0.1"
                                                                id="place_location_longitude" value="{% if place._source.location is defined and place._source.location.longitude is defined %}{{ place._source.location.longitude }}{% endif %}">
                                                            <label class="input-group-text" for="place_location_zoom">
                                                                Yakınlık
                                                            </label>
                                                            <input type="number" class="form-control" name="place_location_zoom" placeholder="0"
                                                                id="place_location_zoom" value="{% if place._source.location is defined and place._source.location.zoom is defined %}{{ place._source.location.zoom }}{% endif %}">                                                    
                                                        </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>

                            {# Address Part #}
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Adres Bilgileri
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3 input-group">
                                                    <label class="input-group-text" for="long_address" id="long_address">
                                                        Uzun Adres
                                                    </label>
                                                    <input class="form-control" type="text" placeholder="Uzun adresi girin"
                                                           value="{{ place._source.address is not null ? place._source.address.longAddress : '' }}">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3 input-group">
                                                    <label class="input-group-text" for="short_address" id="short_address"> 
                                                        Kısa Adres
                                                    </label>
                                                    <input class="form-control" type="text" placeholder="Kısa adresi girin" 
                                                           value="{{ place._source.address is not null ? place._source.address.shortAddress : '' }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Contact Part #}
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            İletişim Bilgileri
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="row">
                                            {% for contact in place._source.contacts %}
                                                <div class="col-6 mb-3">
                                                    <label class="form-label" for="contact_{{ loop.index }}">
                                                        {{ contact.category is defined ? contact.category.description : 'Kategori mevcut değil' }}
                                                    </label>
                                                    <input id="contact_{{ loop.index }}" class="form-control" type="text" placeholder="İletişim bilgisi"
                                                        value="{{ contact.value }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Opening Hours #}
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Çalışma Saatleri
                                        </h5>
                                        <hr>
                                        <div class="row">
                                            {% for hours in openingHours %}
                                                {% if hours.languageCode is defined and hours.languageCode == 'tr_TR' %}
                                                    <div class="col-6 mb-3">
                                                        <label>{{ hours.dayText }}</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" value="{{ hours.open }}" placeholder="Açılış saati">
                                                            <span class="input-group-text">-</span>
                                                            <input type="text" class="form-control" value="{{ hours.close }}" placeholder="Kapanış saati">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Sources Part #}
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">Kaynaklar</h5>
                                        <hr>
                                        <div class="mb-3">
                                            <label for="kategoriler" class="form-label">Kategoriler</label>
                                            <select id="kategoriler" class="form-select">
                                                <option value="">Seçin...</option>
                                                {% for source in sources %}
                                                    <option value="{{ source.category['@id'] }}">{{ source.category.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="kaynakUrl" class="form-label">Kaynak URL</label>
                                            <input type="url" class="form-control" id="kaynakUrl" placeholder="Kaynak URL'yi girin" value="{{ sources[0].sourceUrl ?? '' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Hesaplar
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="mb-3">
                                            <label for="kategoriler" class="form-label">Hesap Kategorisi</label>
                                            <select id="kategoriler" class="form-select" onchange="updateSourceUrl()">
                                                <option value="">Seçin...</option>
                                                {% for account in accounts %}
                                                    <option value="{{ loop.index0 }}" data-src="{{ account.src }}" data-description="{{ account.category.description }}">
                                                        {{ account.category.description }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="kaynakUrl" class="form-label">Kaynak URL</label>
                                            <input type="url" class="form-control" id="kaynakUrl" placeholder="Kaynak URL'yi girin" value="{{ accounts[0].src ?? '' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            İşletme Tanımları
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">
                                                            Etiketler
                                                        </h5>
                                                        <!-- Çizgi istemiyosan sil -->
                                                        <hr>
                                                        <!-- Çizgi istemiyosan sil/ -->

                                                        <div class="mb-3">
                                                            <label class="form-label" for="select-tag">
                                                                İşletme Etiketleri
                                                            </label>
                                                            <select class="form-select" id="select-tag"
                                                                    data-placeholder="Etiket seçiniz" multiple>
                                                                {% if place._source is defined
                                                                    and place._source.hashtags is defined
                                                                    and place._source.hashtags is iterable %}
                                                                    {% for hashtag in place._source.hashtags %}
                                                                        <option data-tag-id="{{ hashtag.id }}" selected>
                                                                            {{ hashtag.tag }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">
                                                            Kategoriler
                                                        </h5>
                                                        <!-- Çizgi istemiyosan sil -->
                                                        <hr>
                                                        <!-- Çizgi istemiyosan sil/ -->
                                                        <div class="mb-3">
                                                            <label class="form-label" for="select-category">
                                                                İşletme Kategorileri
                                                            </label>
                                                            <select class="form-select" id="select-category"
                                                                    data-placeholder="Kategori seçiniz" multiple>
                                                                {% if place._source is defined
                                                                    and place._source.categories is defined
                                                                    and place._source.categories is iterable %}
                                                                    {% for category in place._source.categories %}
                                                                        <option data-category-id="{{ category.id }}"
                                                                                selected>
                                                                            {{ category.description }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">
                                                            Türler
                                                        </h5>
                                                        <!-- Çizgi istemiyosan sil -->
                                                        <hr>
                                                        <!-- Çizgi istemiyosan sil/ -->
                                                        <div class="mb-3">
                                                            <label class="form-label" for="select-type">
                                                                İşletme Türleri
                                                            </label>
                                                            <select class="form-select" id="select-type"
                                                                    data-placeholder="Tür seçiniz" multiple>
                                                                {% if place._source is defined
                                                                    and place._source.types is defined
                                                                    and place._source.types is iterable %}
                                                                    {% for type in place._source.types %}
                                                                        <option data-type-id="{{ type.id }}" selected>
                                                                            {{ type.description }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card rounded-4">
                                <div class="card-body">
                                    <h5 class="mb-4">
                                        İşletme Filtreleri
                                    </h5>
                                    <!-- Çizgi istemiyosan sil -->
                                    <hr>
                                    <!-- Çizgi istemiyosan sil/ -->
                                    <div class="row">
                                        {% if place._source.options is defined %}
                                            {% include 'admin/modules/options.html.twig'
                                                with { options : place._source.options } %}
                                        {% else %}
                                            {% include 'admin/modules/options.html.twig' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Tab General Information End/ -->

                    <!-- Tab Media Start -->
                    <div class="tab-pane fade" id="primary-pills-media" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="mb-4">Fotoğraflar</h5>
                                            </div>
                                            <div class="col-3 text-end"> <!-- Aligns the button to the right -->
                                                <button class="btn btn-primary w-100" id="button-photo-add">
                                                    Ekle
                                                </button>
                                            </div>
                                            <div class="col-3 text-end"> <!-- Aligns the button to the right -->
                                                <button class="btn btn-danger w-100" id="button-photo-remove-all">
                                                    Hepsini Kaldır
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                        {% if place._source.photos is defined %}
                                            <div class="row">
                                                {% for photo in place._source.photos %}
                                                    <div class="col-sm-6 mb-3">
                                                        <div class="card rounded-2 border border-danger h-100 d-flex flex-column">

                                                            <div class="row g-0">
                                                                <div class="col-md-4 border-end">
                                                                    <div class="p-3 align-self-center">
                                                                        {# ``if https`` block will be removed in the next version of api @OnurKudret #}
                                                                        <img src="{% if 'https://' not in photo.path %}https://{% endif %}{{ photo.path }}"
                                                                             alt="{{ photo.caption ?? 'no-alt-provided' }}"
                                                                             class="img-fluid rounded-start">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-8 border-start">
                                                                    <div class="card-body">
                                                                        <!--
                                                                        <h5 class="card-title mb-3">{{ photo.caption|replace({' ': '', '\n': '', '\t': ''}) }}</h5>
                                                                    -->

                                                                        <div class="card-text">

                                                                            <div class="form-check form-switch form-check-info">
                                                                                <input class="form-check-input"
                                                                                       type="checkbox" role="switch"
                                                                                       id="{{ place._source.name|lower|replace({' ':'-'}) }}-{{ photo.id }}"
                                                                                       {% if photo.showOnBanner %}checked{% endif %}>
                                                                                <label for="{{ place._source.name|lower|replace({' ':'-'}) }}-{{ photo.id }}">
                                                                                    Banner Olarak Görüntüle
                                                                                </label>
                                                                            </div>

                                                                            <div class="input-group mb-3">
                                                                                <label class="input-group-text"
                                                                                       for="caption-for-{{ photo.caption|trim|lower }}">
                                                                                    Fotoğraf Başlığı
                                                                                </label>
                                                                                <textarea type="text"
                                                                                          class="form-control"
                                                                                          placeholder="Kebapçının yeri.."
                                                                                          id="caption-for-{{ photo.caption|trim|lower }}">
                                                                                {{ photo.caption|trim }}
                                                                            </textarea>
                                                                            </div>
                                                                            <div class="input-group mb-3">
                                                                                <label class="input-group-text"
                                                                                       for="description-for-createdAt">
                                                                                    Oluşturuldu
                                                                                </label>
                                                                                <input id="description-for-createdAt"
                                                                                       type="text" class="form-control"
                                                                                       disabled
                                                                                       value="{{ photo.updatedAt|date }}">
                                                                            </div>
                                                                            <div class="input-group mb-3">
                                                                                <label class="input-group-text"
                                                                                       for="description-for-updatedAt"
                                                                                       type="text">
                                                                                    Güncellendi
                                                                                </label>
                                                                                <input id="description-for-updatedAt"
                                                                                       type="text" class="form-control"
                                                                                       disabled
                                                                                       value="{{ photo.updatedAt|date }}">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Media End/ -->

                    <!-- Tab Product Start -->
                    <div class="tab-pane fade " id="primary-pills-product" role="tabpanel">
                        <div class="row">
                            <div class=" col-12 ">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Ürün Adı
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                            <input type="text" class="form-control" aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-default">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Product End/ -->

                    <!-- Tab Commerical Information Start -->
                    <div class="tab-pane fade" id="primary-pills-commerical-information" role="tabpanel">

                        <div class="row">
                            <div class="col-4">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Temel Bilgiler
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="title-input-label">
                                                Şirket Unvanı
                                            </span>
                                            <input type="text" class="form-control" aria-label="Commerical title input"
                                                   aria-describedby="title-input-label"
                                                   value="{% if place._source.commericalInformation is defined
                                                       and place._source.commericalInformation.title is defined %}{{ place._source.commericalInformation.title }}{% else %}TEST MEKAN LIMITED A.S.{% endif %}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="kep-address-input-label">
                                                KEP Adresi
                                            </span>
                                            <input type="text" class="form-control" aria-label="Kep address input"
                                                   aria-describedby="kep-address-input-label"
                                                   value="{% if place._source.commericalInformation is defined
                                                       and place._source.commericalInformation.kepAddress is defined %}{{ place._source.commericalInformation.kepAddress }}{% else %}hs0.kep.test@devlet.org{% endif %}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="mersis-number-input-label">
                                                Mersis Numarası
                                            </span>
                                            <input type="text" class="form-control" aria-label="Mersis number input"
                                                   aria-describedby="mersis-number-input-label"
                                                   value="{% if place._source.commericalInformation is defined
                                                       and place._source.commericalInformation.mersisNumber is defined %}{{ place._source.commericalInformation.mersisNumber }}{% else %}00000000000{% endif %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 h-100 flex d-flex flex-column">
                                {% if place._source.commericalInformation is defined and place._source.taxPlate is defined %}
                                    BURAYA BIR SEYLER
                                {% else %}
                                    <div class="input-group mb-3">
                                            <span class="input-group-text" id="tax-plate-input-label">
                                                Vergi Levhası
                                            </span>
                                        <input type="file" class="form-control" aria-label="Tax plate input"
                                               aria-describedby="tax-plate-input-label">
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    <!-- Tab Commerical Information End/ -->

                    <!-- Tab Meta Start -->
                    <div class="tab-pane fade " id="primary-pills-meta" role="tabpanel">
                        <div class="row">
                            <div class=" col-12 ">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Meta Tag
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                            <input type="text" class="form-control" aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-default">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class=" col-12 ">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Meta Tag 2
                                        </h5>
                                        <!-- Çizgi istemiyosan sil -->
                                        <hr>
                                        <!-- Çizgi istemiyosan sil/ -->
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                            <input type="text" class="form-control" aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-default">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Meta End/ -->

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="col-12">
                    <div class="card rounded-4">
                        <div class="card-body">

                            <button type="button" class="btn ripple btn-grd btn-grd-success px-5">
                                Kaydet
                            </button>
                            <button type="button" class="btn ripple btn-primary px-5">
                                Kaydet ve Devam Et
                            </button>
                            <button type="button" class="btn ripple btn-warning btn-grd px-5">
                                İptal
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block template_scripts %}
    <script src="{{ asset('/assets/plugins/select2/js/select2.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('/script/pages/place/edit.js') }}"></script>
{% endblock %}