{% extends 'admin/base.html.twig' %}

{% block title %}{{ place.name|capitalize }} | Düzenle{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="{{ asset('plugins/fancy-file-uploader/fancy_fileupload.css') }}?v=1" rel="stylesheet">
    <script>window.transporter = {place: {{ place|json_encode|raw }}};</script>
{% endblock %}

{% block body %}
    <div id="icon-path-holder" data-icon-path="https://cdn.yaka.la/assets/web/yakalamac-icon.png"></div>
    <div class="main-content" data-x="form">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">İşletmeler</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">{{ place.name|capitalize }}</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <a class="btn btn-outline-secondary" id="place-qr-code" title="QR">
                        <span class="material-symbols-outlined">qr_code_2</span>
                    </a>
                    <a class="btn btn-outline-secondary" id="preview-button" href="#" target="_blank" title="Önizle">
                        <span class="material-symbols-outlined">preview</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="pill" href="#tab-basic-props" role="tab"
                           aria-selected="true">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">Temel Özellikler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#tab-media" role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">Medyalar</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#tab-product" role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">Ürünler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#tab-contact-information"
                           role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">İletişim</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#tab-commerical-information"
                           role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">Ticari Bilgiler</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="pill" href="#tab-outsource-information"
                           role="tab"
                           aria-selected="false" tabindex="-1">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon"><i class=""></i></div>
                                <div class="tab-title">Dış Kaynaklar</div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row-">
            <div class="col">
                <div class="tab-content" id="pills-tabContent">

                    <!-- Tab General Information Start -->
                    <div class="tab-pane fade show active" id="tab-basic-props" role="tabpanel">

                        <div class="row">
                            <div class=" col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">Genel Bilgiler</h5>
                                        <hr>
                                        <!-- İşletme Adı -->
                                        <div class="row">
                                            <div class="col-9">
                                                <label for="place_name" class="form-label">İşletme Adı</label>
                                                <input type="text" class="form-control" name="name" id="place_name"
                                                       placeholder="İşletme Adı" value="{{ place.name }}">
                                            </div>
                                            <div class="col-3 m-auto">
                                                <div class="form-check form-switch form-check-success">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="owner"
                                                           {% if place.owner is same as(true) %}checked{% endif %}>
                                                    <label class="form-check-label" for="owner">İşletme Sahipliği</label>
                                                </div>
                                                <div class="form-check form-switch form-check-success">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="choosen"
                                                           {% if place.choosen|default(false) is same as(true) %}checked{% endif %}>
                                                    <label class="form-check-label" for="choosen">Seçilmiş İşletme</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Birincil Tür -->
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <label class="form-label" for="place_primary_type">Birincil Tür</label>
                                                <select data-auto-select2="true" data-source="place_type"
                                                        data-adapter="place_description_adapter"
                                                        data-placeholder="Birincil Tür Belirtilmedi" class="form-select"
                                                        id="place_primary_type" name="primary_type">
                                                    {% if place.primaryType is defined and place.primaryType.id is defined and place.primaryType.description is defined %}
                                                        <option value="{{ place.primaryType.id }}" selected>
                                                            {{ place.primaryType.description }}
                                                        </option>
                                                    {% endif %}
                                                </select>
                                            </div>

                                            <!-- Değerlendirme Ortalaması ve Sayısı -->
                                            <div class="col-4 mb-3">
                                                <label class="form-label" for="rate">Değerlendirme Ortalaması</label>
                                                <input type="text" class="form-control" name="rate" id="rate" value="{{ place.rating|default(0) }}">
                                            </div>
                                            <div class="col-4 mb-3">
                                                <label class="form-label" for="rating_count">Değerlendirme Sayısı</label>
                                                <input type="text" class="form-control" name="rating_count"
                                                       id="rating_count" value="{{ place.userRatingCount|default(0) }}">
                                            </div>
                                        </div>

                                        <!-- Konum Bilgileri -->
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <label class="form-label">Konum</label>
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text"
                                                           for="place_location_latitude">Enlem</label>
                                                    <input type="number" class="form-control"
                                                           name="location.latitude" placeholder="0.1"
                                                           id="place_location_latitude"
                                                           value="{% if place.location is defined and place.location.latitude is defined %}{{ place.location.latitude }}{% endif %}">
                                                    <label class="input-group-text" for="place_location_longitude">Boylam</label>
                                                    <input type="number" class="form-control" name="location.longitude"
                                                           placeholder="0.1" id="place_location_longitude"
                                                           value="{% if place.location is defined and place.location.longitude is defined %}{{ place.location.longitude }}{% endif %}">
                                                    <label class="input-group-text"
                                                           for="place_location_zoom">Yakınlık</label>
                                                    <input type="number" class="form-control" name="location.zoom"
                                                           placeholder="0" id="place_location_zoom"
                                                           value="{% if place.location is defined and place.location.zoom is defined %}{{ place.location.zoom }}{% endif %}">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- İşletme Açıklaması -->
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <label class="form-label" for="place_description">Açıklama</label>
                                                <textarea class="form-control" name="description" rows="1" id="place_description"
                                                 placeholder="İşletmeyi tanımlayın">{{ place.description|default('') }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Address Part #}
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">Adres Bilgileri</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="province_select" class="form-label">Şehir</label>
                                                    <select id="province_select" class="form-select"
                                                            data-placeholder="İl Seçilmedi" data-adc-category="2">
                                                        <option value="" disabled>Şehir seçiniz</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="district_select" class="form-label">İlçe</label>
                                                    <select id="district_select" class="form-select"
                                                            data-placeholder="İlçe seçiniz" data-adc-category="3">
                                                        <option value="" disabled>İlçe seçiniz</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="neighbourhood_select" class="form-label">Mahalle</label>
                                                    <select id="neighbourhood_select" class="form-select"
                                                            data-adc-category="4">
                                                        <option value="" disabled>Mahalle seçiniz</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="place_street" class="form-label">Sokak</label>
                                                    <input class="form-control" type="text" id="place_street"
                                                           data-adc-category="5" data-binder="address">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="street_number_input" class="form-label">Sokak Numarası</label>
                                                    <input class="form-control" type="text"
                                                           data-binder="address" id="street_number_input"
                                                           data-adc-category="8">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="place_zip_code" class="form-label">Posta Kodu</label>
                                                    <input data-binder="address" class="form-control" type="text"
                                                           id="place_zip_code" data-adc-category="6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-6">
                                                <div class="mb-3 input-group">
                                                    <label class="input-group-text" for="place_long_address">Uzun Adres</label>
                                                    <input class="form-control" type="text"
                                                           placeholder="Uzun adresi girin"
                                                           value="{{ place.address.longAddress|default('') }}"
                                                           id="place_long_address">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3 input-group">
                                                    <label class="input-group-text" for="place_short_address">Kısa Adres</label>
                                                    <input class="form-control" type="text"
                                                           placeholder="Kısa adresi girin"
                                                           value="{{ place.address.shortAddress|default('') }}"
                                                           id="place_short_address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Çalışma Saatleri #}
                            {% include 'admin/modules/opening-hour.html.twig' with {openingHours: place.openingHours} %}
                            {# Çalışma Saatleri / #}

                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">İşletme Tanımları</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">Etiketler</h5>
                                                        <hr>
                                                        <div class="mb-3">
                                                            <label class="form-label" for="place_tags">İşletme Etiketleri</label>
                                                            <select data-auto-select2="true" id="place_tags"
                                                                    class="form-select"
                                                                    data-adapter="place_tag_adapter" name="tags"
                                                                    data-placeholder="Etiket seçiniz" multiple
                                                                    data-source="place_tag" data-size="20">
                                                                {% if place is defined and place.hashtags is defined and place.hashtags is iterable %}
                                                                    {% for hashtag in place.hashtags %}
                                                                        <option value="{{ hashtag.id }}"
                                                                                data-tag-id="{{ hashtag.id }}" selected>
                                                                            {{ hashtag.tag }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">Kategoriler</h5>
                                                        <hr>
                                                        <div class="mb-3">
                                                            <label class="form-label" for="place_categories">İşletme Kategorileri</label>
                                                            <select data-auto-select2="true"
                                                                    data-adapter="place_description_adapter"
                                                                    class="form-select" name="categories"
                                                                    id="place_categories"
                                                                    data-placeholder="Kategori seçiniz"
                                                                    data-source="place_category" multiple>
                                                                {% if place is defined and place.categories is defined and place.categories is iterable %}
                                                                    {% for category in place.categories %}
                                                                        <option value="{{ category.id }}"
                                                                                data-category-id="{{ category.id }}"
                                                                                selected>
                                                                            {{ category.description }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-4">
                                                <div class="card rounded-4">
                                                    <div class="card-body">
                                                        <h5 class="mb-4">Türler</h5>
                                                        <hr>
                                                        <div class="mb-3">
                                                            <label class="form-label" for="place_types">İşletme
                                                                Türleri</label>
                                                            <select data-auto-select2="true"
                                                                    data-adapter="place_description_adapter"
                                                                    class="form-select" name="types" multiple
                                                                    id="place_types" data-source="place_type"
                                                                    data-size="20" data-placeholder="Tür seçiniz">
                                                                {% if place is defined and place.types is defined and place.types is iterable %}
                                                                    {% for type in place.types %}
                                                                        <option value="{{ type.id }}" selected
                                                                                data-type-id="{{ type.id }}">
                                                                            {{ type.description }}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card rounded-4">
                                <div class="card-body">
                                    <h5 class="mb-4">İşletme Filtreleri</h5>
                                    <hr>
                                    <div class="row">
                                        {% if place.options is defined %}
                                            {% include 'admin/modules/options.html.twig' with { options : place.options } %}
                                        {% else %}
                                            {% include 'admin/modules/options.html.twig' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Tab General Information End/ -->

                    <!-- Tab Media Start -->
                    <div class="tab-pane fade" id="tab-media" role="tabpanel">
                        <!-- Photos  -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"><h5 class="mb-4">Fotoğraflar</h5></div>
                                            <div class="col-3 text-end">
                                                <button class="btn btn-primary w-100" id="button-photo-bulk">Ekle</button>
                                            </div>
                                        </div>
                                        <hr>
                                        {% include 'admin/modules/photo.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Photos/-->

                        <!-- Videos  -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"><h5>Videolar</h5></div>
                                            <div class="col-3 text-end">
                                                <button class="btn btn-primary w-100" id="button-video-bulk">Ekle</button>
                                            </div>
                                        </div>
                                        <hr>
                                        {% include 'admin/modules/video.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Videos/ -->
                    </div>
                    <!-- Tab Media End/ -->

                    <!-- Tab Product Start -->
                    <div class="tab-pane fade " id="tab-product" role="tabpanel">
                        <div class="row">
                            <div class=" col-12 ">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="mb-4">Ürünler</h5>
                                            </div>
                                            <div class="col-3 text-end">
                                                <button class="btn btn-primary w-100" id="button-product-add">Ekle</button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="productsTable" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Ürün Adı</th>
                                                            <th>Aktif</th>
                                                            <th>Açıklama</th>
                                                            <th>Fiyat</th>
                                                            <th>Kategoriler</th>
                                                            <th>Türler</th>
                                                            <th>Etiketler</th>
                                                            <th>İşlem</th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Product End/ -->

                    <!-- Tab Account Information Start -->
                    <div class="tab-pane fade" id="tab-contact-information" role="tabpanel">
                        <div class="row">
                            {# Contact Part #}
                            <div class="col-6">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">İletişim Bilgileri</h5>
                                        <hr>
                                        <div class="row">
                                            {% set contactCategories = [
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/contact-category/phone.ico",
                                                    "title": "TELEFON_NUMARASI", "description": "Telefon Numarası", "id": 1,
                                                    "includes": place.contacts|filter(c => c.category.id == 1)|first|default(null)
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/contact-category/international-phone.ico",
                                                    "title": "ULUSLARARASI_TELEFON_NUMARASI",
                                                    "description": "Uluslararası Telefon Numarası", "id": 2,
                                                    "includes": place.contacts|filter(c => c.category.id == 2)|first|default(null)
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/contact-category/website.ico",
                                                    "title": "WEBSİTESİ", "description": "Websitesi", "id": 3,
                                                    "includes": place.contacts|filter(c => c.category.id == 3)|first|default(null)
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/contact-category/Whats",
                                                    "title": "WHATSAPP", "description": "Whatsapp", "id": 5,
                                                    "includes": place.contacts|filter(c => c.category.id == 5)|first|default(null)
                                                }

                                            ] %}
                                            {% for category in contactCategories %}
                                                <div class="col-12 mb-3">
                                                    <label class="form-label" for="contact_{{ category.id }}">
                                                        {{ category.description }}
                                                    </label>
                                                    <input id="contact_{{ category.id }}"
                                                           name="contact_{{ category.id }}" class="form-control"
                                                           type="text" placeholder="İletişim bilgisi"
                                                           value="{{ category.includes.value ?? '' }}"
                                                           data-category-id="{{ category.id }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Contact Part End #}

                            {# Account Part #}
                            <div class="col-6">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">Hesaplar</h5>
                                        <hr>
                                        <ul id="accounts-container" class="list-group">
                                            {% set accountCategories = [
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/account-category/x.ico",
                                                    "title": "X", "description": "X (Twitter)", "id": 10,
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/account-category/google.ico",
                                                    "title": "GOOGLE_BUSINESS", "description": "Google Business", "id": 11
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/account-category/tiktok.ico",
                                                    "title": "TIKTOK", "description": "Tiktok", "id": 12
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/account-category/facebook.ico",
                                                    "title": "FACEBOOK", "description": "Facebook", "id": 18
                                                },
                                                {
                                                    "icon": "cdn.yaka.la/assets/icon/account-category/instagram.ico",
                                                    "title": "INSTAGRAM", "description": "Instagram", "id": 19
                                                }
                                            ] %}
                                            {% for category in accountCategories %}
                                                <li class="list-group-item align-items-center" data-category-id="{{ category.id }}">
                                                    <div class="col-12 mb-3 d-flex">
                                                        <img src="https://{{ category.icon }}" alt="{{ category.title }}"
                                                             width="24px" height="24px"
                                                             style="width: 40px; height: 40px; object-fit: contain; margin-right: 10px;" >
                                                        <input id="account_src_{{ category.id }}" aria-label="{{ category.description }}"
                                                               name="account_src_{{ category.id }}"
                                                               class="form-control flex-grow-1 account-src-input"
                                                               type="url" placeholder="{{ category.description }}"
                                                               value=""
                                                               data-category-id="{{ category.id }}">
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {# Account Part End #}
                        </div>
                    </div>
                    <!-- Tab Contact Information End/ -->

                    <!-- Tab Commerical Information Start -->
                    <div class="tab-pane fade" id="tab-commerical-information" role="tabpanel">
                        <div class="col-12">


                            <div class="col-4">
                                <div class="card rounded-4">
                                    <div class="card-body">
                                        <h5 class="mb-4">
                                            Temel Bilgiler
                                        </h5>
                                        <hr>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="title-input-label">
                                                Şirket Unvanı
                                            </span>
                                            <input type="text" id="commerical_title" class="form-control"
                                                   aria-label="Commerical title input"
                                                   aria-describedby="title-input-label"
                                                   value="{% if place.commericalInformation is defined
                                                       and place.commericalInformation.title is defined %}{{ place.commericalInformation.title }}{% else %}{% endif %}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="kep-address-input-label">
                                                Vergi Dairesi
                                            </span>
                                            <input type="text" id="commerical_tax_address" class="form-control"
                                                   aria-label="Kep address input"
                                                   aria-describedby="kep-address-input-label"
                                                   value="{% if place.commericalInformation is defined
                                                       and place.commericalInformation.taxOffice is defined %}{{ place.commericalInformation.taxOffice }}{% else %}{% endif %}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="mersis-number-input-label">
                                                Mersis Numarası
                                            </span>
                                            <input type="text" id="commerical_mersis_number" class="form-control"
                                                   aria-label="Mersis number input"
                                                   aria-describedby="mersis-number-input-label"
                                                   value="{% if place.commericalInformation is defined
                                                       and place.commericalInformation.mersisNumber is defined %}{{ place.commericalInformation.mersisNumber }}{% else %}{% endif %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 h-100 flex d-flex flex-column">
                                {% if place.commericalInformation is defined and place.taxPlate is defined %}
                                    <div class="alert alert-success">
                                        Vergi Levhası yüklendi. <a href="{{ place.taxPlate }}"
                                                                   target="_blank">Görüntüle</a>
                                    </div>
                                    <button class="btn btn-danger" id="delete-tax-plate">Sil</button>
                                {% else %}
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="tax-plate-upload">Vergi Levhası</label>
                                        <input type="file" class="form-control" id="tax-plate-upload"
                                               aria-label="Tax plate input"
                                               aria-describedby="tax-plate-input-label"
                                               data-existing-file="{{ place.taxPlate|default('') }}">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Tab Commerical Information End/ -->


                    <!-- Tab Outsource Information Start -->
                    <div class="tab-pane fade" id="tab-outsource-information" role="tabpanel">
                        <div class="col-12">
                            <div class="card rounded-4">
                                <div class="card-body">
                                    <h5 class="mb-4">Kaynaklar</h5>
                                    <hr>
                                    <div class="row" id="sources-container">
                                        {% set sourceCategories = [
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/getir.ico",
                                                "title": "GETİR", "description": "Getir Kaynağı", "id": 1,
                                                "includes": place.sources|filter(c => c.category.id == 1)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/yemeksepeti.ico",
                                                "title": "YEMEKSEPETİ", "description": "Yemeksepeti Kaynağı", "id": 2,
                                                "includes": place.sources|filter(c => c.category.id == 2)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/google-business.ico",
                                                "title": "GOOGLE_BUSINESS", "description": "Google Business Hesabı", "id": 3,
                                                "includes": place.sources|filter(c => c.category.id == 3)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/foursquare.ico",
                                                "title": "FOURSQUARE", "description": "Foursquare Kaynağı", "id": 4,
                                                "includes": place.sources|filter(c => c.category.id == 4)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/yandex.ico",
                                                "title": "YANDEX", "description": "Yandex", "id": 5,
                                                "includes": place.sources|filter(c => c.category.id == 5)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/trendyol-yemek.ico",
                                                "title": "TRENDYOL_YEMEK", "description": "Trendyol Yemek Kaynağı", "id": 6,
                                                "includes": place.sources|filter(c => c.category.id == 6)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/google.ico",
                                                "title": "GOOGLE", "description": "Google Kaynağı", "id": 7,
                                                "includes": place.sources|filter(c => c.category.id == 7)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/website.ico",
                                                "title": "WEBSITE", "description": "Website", "id": 8,
                                                "includes": place.sources|filter(c => c.category.id == 8)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/izmirmekanrehberi",
                                                "title": "İZMIR_MEKAN_REHBERI", "description": "İzmir Mekan Rehberi", "id": 9,
                                                "includes": place.sources|filter(c => c.category.id == 9)|first|default(null)
                                            },
                                            {
                                                "icon": "cdn.yaka.la/assets/icon/source-category/izmirmekanrehberi-fotogaleri",
                                                "title": "İZMIR_MEKAN_REHBERI-_FOTO_GALERI", "description": "İzmir Mekan Rehberi - Foto Galeri", "id": 11,
                                                "includes": place.sources|filter(c => c.category.id == 10)|first|default(null)
                                            }
                                        ] %}
                                        {% for category in sourceCategories %}
                                            <span class="form-label">{{ category.description }}</span>
                                            <div class="row input-group mb-3">
                                                <input id="source_url_{{ category.id }}" name="source_url_{{ category.id }}" aria-label="Source-uri"
                                                       class="form-control source-url-input" type="url" placeholder="Bağlantı"
                                                       value="{{ category.includes.sourceUrl ?? '' }}" data-category-id="{{ category.id }}">
                                                <input id="source_id_{{ category.id }}" name="source_id_{{ category.id }}" aria-label="Source-id"
                                                       class="form-control source-id-input" type="text" placeholder="Kimlik"
                                                       value="{{ category.includes.sourceId ?? '' }}" data-category-id="{{ category.id }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Outsource Information End/ -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="col-12">
                    <div class="card rounded-4">
                        <div class="card-body">
                            <button type="button" class="btn ripple btn-grd btn-grd-success px-5" id="button-save">
                                Güncelle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="fancy_file_upload_image" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Toplu Fotoğraf Ekleyin</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <input id="fancy_file_upload_image_input" type="file" name="files"
                                       accept=".jpg, .png, image/jpeg, image/png" multiple>
                            </div>
                            <div class="card-footer row">
                                <div class="col-6">
                                    <button class="btn btn-success col m-1 text-center flex justify-content-center align-items-center"
                                            id="fancy_file_upload_save_all_button">
                                        <span class="material-symbols-outlined m-auto">save</span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger col m-1 flex flex"
                                            id="fancy_file_upload_remove_all_button">
                                        <span class="material-symbols-outlined center">delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="button-close" class="btn btn-grd btn-grd-deep-blue" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" id="button-submit" class="btn btn-grd btn-grd-royal d-none">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fancy_file_upload_video" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Toplu Video Ekleyin</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <input id="fancy_file_upload_video_input" type="file" name="files"
                                       accept=".mp4" multiple>
                            </div>
                            <div class="card-footer row">
                                <div class="col-6">
                                    <button class="btn btn-success col m-1 text-center flex justify-content-center align-items-center"
                                            id="fancy_file_upload_save_all_button">
                                        <span class="material-symbols-outlined m-auto">save</span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger col m-1 flex flex"
                                            id="fancy_file_upload_remove_all_button">
                                        <span class="material-symbols-outlined center">delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="button-close" class="btn btn-grd btn-grd-deep-blue" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" id="button-submit" class="btn btn-grd btn-grd-royal d-none">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals  / -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('plugins/fancy-file-uploader/jquery.fancy-fileupload.js') }}?v=1"></script>
    <script src="{{ asset('script/modules/bundles/address-bundle/index.js') }}"></script>
    {% include 'bundles/qr.html.twig' %}
    <script type="module" src="{{ asset('script/pages/place/edit.js?v=9') }}"></script>
{% endblock %}