<div class="primary-menu">
    <nav class="navbar navbar-expand-xl align-items-center">
        <div class="offcanvas offcanvas-start w-260" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header border-bottom h-70">
                <div class="d-flex align-items-center gap-2">
                    <div class="">
                        <img src="https://cdn.yaka.la/assets/web/icon-removebg.png" class="logo-icon" width="45" alt="logo icon">
                    </div>
                    <div class="">
                        <h4 class="logo-text">Yakalamaç</h4>
                    </div>
                </div>
                <a  class="primaery-menu-close" data-bs-dismiss="offcanvas">
                    <i class="material-icons-outlined">close</i>
                </a>
            </div>
            <div class="offcanvas-body p-0">
                <ul class="navbar-nav align-items-center flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"  data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class="material-icons-outlined">home</i>
                            </div>
                            <div class="menu-title d-flex align-items-center">Anasayfa</div>
                            <div class="ms-auto dropy-icon"><i class='material-icons-outlined'>expand_more</i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('partner_dashboard') }}"><i class='material-icons-outlined'>insights</i>Analiz</a></li>
                            {#
                            <li><a class="dropdown-item" href="{{ path('partner_analysis') }}"><i class='material-icons-outlined'>shopping_cart</i>E-ticaret</a></li>
                            #}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"  data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='material-icons-outlined'>apps</i>
                            </div>
                            <div class="menu-title d-flex align-items-center">Ürün</div>
                            <div class="ms-auto dropy-icon"><i class='material-icons-outlined'>expand_more</i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('partner_product_list') }}"><i class='material-icons-outlined'>email</i>Listeleme</a></li>
                            <li><a class="dropdown-item" href="{{ path('partner_product_add') }}"><i class='material-icons-outlined'>chat</i>Ürün Ekle</a></li>
                            {# TODO <li><a class="dropdown-item" href="{{ path('partner_product_bulk') }}"><i class='material-icons-outlined'>folder</i>Toplu İşlemler</a></li> #}
                            <li><a class="dropdown-item" href="{{ path('partner_product_complementary') }}"><i class='material-icons-outlined'>task</i>Tamamlayıcı Ürünler</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"  data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='material-icons-outlined'>note_alt</i>
                            </div>
                            <div class="menu-title d-flex align-items-center">Sipariş</div>
                            <div class="ms-auto dropy-icon"><i class='material-icons-outlined'>expand_more</i></div>
                        </a>
                        <ul class="dropdown-menu">
                            {# 
                                Todo
                                    <li> <a class="dropdown-item" href="{{ path('partner_order_zones') }}"><i class='material-icons-outlined'>source</i>Teslimat Bölgeleri</a>
                                    </li>
                            #}
                            <li> <a class="dropdown-item" href="{{ path('partner_order_waiting') }}"><i class='material-icons-outlined'>work_outline</i>Bekleyen Siparişler</a>
                            </li>
                            <li> <a class="dropdown-item" href="{{ path('partner_order_cancelled') }}"><i class='material-icons-outlined'>timeline</i>İptal Edilenler</a>
                            </li>
                            <li> <a class="dropdown-item" href="{{ path('partner_order_customer_requests') }}"><i class='material-icons-outlined'>label</i>Müşteri Talepleri</a>
                            </li>
                            <li> <a class="dropdown-item" href="{{ path('partner_order_history') }}"><i class='material-icons-outlined'>tips_and_updates</i>Geçmiş Siparişler</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"  data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='material-icons-outlined'>pie_chart</i>
                            </div>
                            <div class="menu-title d-flex align-items-center">Promosyon</div>
                            <div class="ms-auto dropy-icon"><i class='material-icons-outlined'>expand_more</i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item dropend">
                                <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret"><i class='material-icons-outlined'>pie_chart</i>Fırsatlar</a>
                                <ul class="dropdown-menu submenu">
                                    <li><a class="dropdown-item" href="{{ path('partner_opportunity_regular') }}"><i class='material-icons-outlined'>navigate_next</i>Düzenli</a></li>
                                    <li><a class="dropdown-item" href="{{ path('partner_opportunity_snap') }}"><i class='material-icons-outlined'>navigate_next</i>Anlık</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropend">
                                <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret"><i class='material-icons-outlined'>pie_chart</i>Kampanyalar</a>
                                <ul class="dropdown-menu submenu">
                                    <li><a class="dropdown-item" href="{{ path('partner_campaign_custom') }}"><i class='material-icons-outlined'>navigate_next</i>İşletmeme Özel</a></li>
                                    <li><a class="dropdown-item" href="{{ path('partner_campaign_yakala') }}"><i class='material-icons-outlined'>navigate_next</i>Yakala</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                            <div class="parent-icon"><i class='material-icons-outlined'>table_chart</i></div>
                            <div class="menu-title d-flex align-items-center">İşletmem</div>
                            <div class="ms-auto dropy-icon"><i class='material-icons-outlined'>expand_more</i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('partner_place') }}"><i class='material-icons-outlined'>navigate_next</i>Temel Bilgiler</a></li>
                            <li><a class="dropdown-item" href="{{ path('partner_place_review') }}"><i class='material-icons-outlined'>navigate_next</i>Değerlendirmeler</a></li>
                            <li><a class="dropdown-item" href="{{ path('partner_place_photo') }}"><i class='material-icons-outlined'>navigate_next</i>Fotoğraflar</a></li>
                            <li><a class="dropdown-item" href="{{ path('partner_place_video') }}"><i class='material-icons-outlined'>navigate_next</i>Videolar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>