{% extends 'base.html.twig' %}
{% block title %}- Admin Paneli {% endblock %}


{% block base_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">
    {% block template_stylesheets %}
        {#
            Template styles goes here
        #}
    {% endblock %}
    {% block stylesheets %}
        {#
            Page styles goes here
        #}
    {% endblock %}
{% endblock %}

{% block base_body %}

    <!--start header-->
    {% include 'admin/modules/header.html.twig' %}
    <!--end top header-->


    <!--start sidebar-->
    {% include 'admin/modules/sidebar.html.twig' %}
    <!--end sidebar-->

    <main class="main-wrapper">
        <div class="main-content">
            {% block body %}
                {# Body comes here #}
            {% endblock %}
        </div>
    </main>
    {% include 'admin/modules/footer.html.twig' %}

{% endblock %}


{% block base_javascripts %}
    <!--
        Bu cocuk da sıkıntılı !!
        <script src="assets/plugins/lottie/lottie-player.min.js"></script>
    -->
    <script src="{{ asset('assets/plugins/ajax/moment.min.js') }}"></script>
    <script>
        {#
            Bu cocuklarda bir hata var !!
            <script src="{{ asset('assets/plugins/datatable/js/dataTables.bootstrap5.min.js') }}"></script>

        #}
        // Bu cocuk bi hata atıyo
        // $(".data-attributes span").peity("donut");

        // Bu da atıyo
        //new PerfectScrollbar(".user-list");

        {% for flash_message in app.flashes('success') %}
            toastr.success("{{ flash_message }}");
        {% endfor %}

        {% for flash_message in app.flashes('error') %}
            toastr.error("{{ flash_message }}");
        {% endfor %}

        {% for flash_message in app.flashes('warning') %}
            toastr.warning("{{ flash_message }}");
        {% endfor %}

        {% for flash_message in app.flashes('info') %}
            toastr.info("{{ flash_message }}");
        {% endfor %}
    </script>

    {#
        <script src="{{ asset('assets/js/dashboard1.js') }}"></script>
    #}

    {% block template_scripts %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
{% endblock %}
