{% extends 'admin/base.html.twig' %}

{% block title %}Yönetim Paneli {% endblock %}

{% block javascripts %}{% endblock %}


{% block body %}
	<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		<div class="breadcrumb-title pe-3">Yönetim Paneli</div>
		<div class="ps-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item active" aria-current="page">Anasayfa</li>
				</ol>
			</nav>
		</div>
		<div class="ms-auto">
			<div class="btn-group">
				<button type="button" class="btn btn-outline-primary">Settings</button>
				<button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
					<a class="dropdown-item" href="javascript:void(0)">Action</a>
					<a class="dropdown-item" href="javascript:void(0)">Another action</a>
					<a class="dropdown-item" href="javascript:void(0)">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="javascript:void(0)">Separated link</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xxl-8 d-flex align-items-stretch">
			<div class="card w-100 overflow-hidden rounded-4">
				<div class="card-body position-relative p-4">
					<div class="row">
						<div class="col-12 col-sm-7">
							<div class="d-flex align-items-center gap-3 mb-5">
								<img src="{{asset('assets/images/yakala/yakalamac-icon.png')}}" class="rounded-circle bg-dark p-1" width="60" height="60" alt="user">
								<div class="">
									<p class="mb-0 fw-semibold">Sizi görmek güzel;</p>
									<h4 class="fw-semibold mb-0 fs-4 mb-0"> {{ app.user.data['firstName']|default('') }} {{ app.user.data['lastName']|default('') }} </h4>
									{% if 'ROLE_EDITOR_ADMIN' in app.user.roles %}
										 <span class="badge bg-grd-royal">Editör</span>
									{% elseif 'ROLE_SUPER_ADMIN' in app.user.roles %}
										 <span class="badge bg-grd-primary">Admin</span>
									{% endif %}

									{# {% if app.user %}
										  <pre>{{ dump(app.user) }}</pre>
									{% endif %} #}
								</div>
							</div>
							<div class="d-flex align-items-center gap-5">
								<div class="">
									<h4 class="mb-1 fw-semibold d-flex align-content-center">$65.4K<i class="ti ti-arrow-up-right fs-5 lh-base text-success"></i>
									</h4>
									<p class="mb-3">Today's Sales</p>
									<div class="progress mb-0" style="height:5px;">
										<div class="progress-bar bg-grd-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<div class="vr"></div>
								<div class="">
									<h4 class="mb-1 fw-semibold d-flex align-content-center">78.4%<i class="ti ti-arrow-up-right fs-5 lh-base text-success"></i>
									</h4>
									<p class="mb-3">Growth Rate</p>
									<div class="progress mb-0" style="height:5px;">
										<div class="progress-bar bg-grd-danger" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-5">
							<div class="welcome-back-img pt-4">
								<img src="{{ asset('assets/images/gallery/welcome-back-3.png') }}" height="180" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
