<!doctype html>
<html lang="tr" data-bs-theme="blue-theme">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Yakalamaç Giriş</title>
		<link rel="icon" href="{{ asset('assets/images/yakala/yakalamac-icon.png') }}" type="image/png">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
		{{ importmap('app') }}
	</head>
	<body>
		<div class="section-authentication-cover">
			<div class="">
				<div class="row g-0">
					<div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex border-end bg-transparent">
						<div class="card rounded-0 mb-0 border-0 shadow-none bg-transparent bg-none">
							<div class="card-body">
								<img src="{{ asset('assets/images/auth/login1.png') }}" class="img-fluid auth-img-cover-login" width="650" alt="">
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center border-top border-4 border-primary border-gradient-1">
						<div class="card rounded-0 m-3 mb-0 border-0 shadow-none bg-none">
							<div class="card-body p-sm-5">
								<img src="{{ asset('assets/images/yakala/logo.png') }}" class="mb-4" width="200" alt="">
								<p class="mb-0">Hesabınıza giriş yapın</p>
								<div class="row g-3 my-4">
									<div class="form-body mt-4">
										<form method="POST" action="{{ path('app_login') }}" class="row g-3 mb-4">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label">E-Posta Adresi</label>
												<input type="text" class="form-control" id="inputEmailAddress" name="email" placeholder="eposta@yakalamac.com.tr" value="" required>
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label">Şifre</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" class="form-control" id="inputChoosePassword" name="password" placeholder="********" value="" required>
													<a href="javascript:;" class="input-group-text bg-transparent">
														<i class="bi bi-eye-slash-fill"></i>
													</a>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="remember_me">
													<label class="form-check-label" for="flexSwitchCheckChecked">Beni hatırla</label>
												</div>
											</div>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-grd-primary">Giriş Yap</button>
												</div>
											</div>
										</form>
										{% for message in app.flashes('error') %}
											<div class="alert alert-danger mt-2">{{ message }}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		 <script>
		    {% for flash_message in app.flashes('success') %}
		    toastr.success("{{ flash_message }}");
		    {% endfor %}
		
		    {% for flash_message in app.flashes('error') %}
		    toastr.error("{{ flash_message }}");
		    {% endfor %}
		
		    {% for flash_message in app.flashes('warning') %}
		    toastr.warning("{{ flash_message }}");
		    {% endfor %}
		
		    {% for flash_message in app.flashes('info') %}
		    toastr.info("{{ flash_message }}");
		    {% endfor %}
		</script>
		 <script src="{{ asset('script/public/login.js') }}"></script>
	</body>
</html>