{% extends 'admin/base.html.twig' %}

{% block title %}Ürün Düzenle{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Ürünler</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ürün Düzenle</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <ul class="nav nav-tabs nav-yakala mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="pill" href="#product-general" role="tab" aria-selected="true">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class="bi bi-house-door me-1 fs-6"></i>
                            </div>
                            <div class="tab-title">Genel</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#product-options" role="tab" aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class="bi bi-diagram-3 me-1 fs-6"></i>
                            </div>
                            <div class="tab-title">Opsiyonlar</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#product-photos" role="tab" aria-selected="false" tabindex="-1">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon"><i class="bi bi-images me-1 fs-6"></i>
                            </div>
                            <div class="tab-title">Fotoğraflar</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="card">
                <div class="card-header">
                    <div class="row p-3">
                        <div class="col">
                            <h5 class="mb-4 fw-bolder text-yakala text-decoration-underline">{{ product.name }}</h5>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-warning product-edit-save px-4">Güncelle</button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="product-general" role="tabpanel">

                                <div class="row mb-3">
                                    <label for="place" class="col-sm-3 col-form-label"> İşletme </label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control" id="place"
                                               value="TODO" placeholder="İşletme Adı">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="product-name" class="col-sm-3 col-form-label">Ürün adı</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="product-name"
                                               value="{{ product.name }}" placeholder="Ürün adı">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="product-description" class="col-sm-3 col-form-label">Açıklama</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{ product.description }}"
                                               id="product-description" placeholder="Açıklama">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="product-price" class="col-sm-3 col-form-label">Fiyat</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="product-price"
                                               value="{{ product.price }}" placeholder="Fiyat">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input39" class="col-sm-3 col-form-label">Aktif mi?</label>
                                    <div class="col-sm-9">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="product-active"
                                                   {% if product.active %}checked{% endif%} >
                                            <label class="form-check-label" for="product-active">Aktif</label>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row mb-3">
                                        <label for="product-category"
                                            class="col-sm-3 col-form-label">Kategori Seçiniz</label>
                                        <div class="col-sm-9">
                                            <select class="form-select" id="product-category"
                                                    data-auto-select2="true" data-source="product_category"
                                                    data-adapter="category_adapter"
                                                    data-placeholder="Kategori Seçiniz" multiple></select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="product-type" class="col-sm-3 col-form-label">Tür Seçiniz</label>
                                        <div class="col-sm-9">
                                            <select class="form-select" id="product-type" data-adapter="category_adapter"
                                                    data-auto-select2="true" data-source="product_type"
                                                    data-placeholder="Tür Seçiniz" multiple>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="product-tag"
                                               class="col-sm-3 col-form-label">Etiket Seçiniz</label>
                                        <div class="col-sm-9">
                                            <select class="form-select" id="product-tag" data-auto-select2="true"
                                                    data-source="product_category" data-adapter="category_adapter"
                                                    data-placeholder="Etiket Seçiniz" multiple>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="tab-pane fade" id="product-options" role="tabpanel">
                                <div id="repeater-product-options">
                                    <div class="items" data-group="options">
                                        <div class="item-content row">
                                            <div class="mb-3 col-3">
                                                <label for="price" class="form-label">Fiyata Etkisi</label>
                                                <input type="number" class="form-control" placeholder="20" data-name="price" id="price">
                                            </div>
                                            <div class="mb-3 col-4">
                                                <label for="description" class="form-label">Açıklama</label>
                                                <input type="text" class="form-control" placeholder="Ekstra köfte"
                                                    data-name="description" id="description">
                                            </div>
                                            <div class="mb-3 col-3">
                                                <label for="languageCode" class="form-label">Dil kodu</label>
                                                <input type="text" class="form-control" placeholder="TR" value="tr"
                                                    data-name="languageCode" id="languageCode">
                                            </div>
                                            <div class="mb-3 col-2 align-content-end text-center">
                                                <div class="repeater-remove-btn">
                                                    <button class="btn btn-danger remove-btn px-4">Sil</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="repeater-footer text-end">
                                        <button class="btn btn-primary repeater-add-btn px-4">Opsiyon Ekle</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="product-photos" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card rounded-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 class="mb-4">Fotoğraflar</h5>
                                                    </div>
                                                    <div class="col-3 text-end">
                                                        <button class="btn btn-primary w-100" id="button-photo-add">Ekle</button>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row" id="existing-photos">
                                                    {% include 'admin/modules/photo-product.html.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    {# {% set product = product._source %} #}
    <script>
        window.Twig = {
            productId: '{{ product.id }}',
            placeId: '{{ product.place.id }}',
            placeName: '{{ product.place.name|default('') }}',
            {# photosData : {{ product.photos|json_encode|raw }}, #}
            productActive: {{ product.active ? 'true' : 'false' }},
            productTypes: {{ product.types | map(t => t.id) | json_encode | raw }},
            productTags: {{ product.hashtags | map(h => h.id) | json_encode | raw }},
            productCategories: {{ product.categories | map(c => c.id) | json_encode | raw }},
            productOptions: {{ product.options | json_encode | raw }},
            product: {{ product | json_encode | raw }},
        };
    </script>
    <script type="module" src="{{ asset('script/pages/product/edit.js?v1') }}"></script>
{% endblock javascripts %}
