{% extends 'admin/base.html.twig' %}

{% block title %}Ürün Düzenle{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Ürünler</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ürün Düzenle</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-body p-4">
                    <h5 class="mb-4">Ürünü Düzenle</h5>

                    {% set fields = [
                        { label: 'İşletme', id: 'place', type: 'select', placeholder: 'İşletme seçiniz', disabled: true },
                        { label: 'Ürün adı', id: 'product-name', type: 'text', placeholder: 'Ürün adı' },
                        { label: 'Açıklama', id: 'product-description', type: 'text', placeholder: 'Açıklama' },
                        { label: 'Fiyat', id: 'product-price', type: 'number', placeholder: 'Fiyat' }
                    ] %}

                    {% for field in fields %}
                        <div class="row mb-3">
                            <label for="{{ field.id }}" class="col-sm-3 col-form-label"> {{ field.label }} </label>
                            <div class="col-sm-9">
                                {% if field.type == 'select' %}
                                    <select class="form-control" id="{{ field.id }}"
                                            data-placeholder="{{ field.placeholder }}"
                                            {% if field.disabled %}disabled{% endif %}>
                                    </select>
                                {% else %}
                                    <input type="{{ field.type }}" class="form-control" id="{{ field.id }}"
                                           placeholder="{{ field.placeholder }}">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row mb-3">
                        <label for="input39" class="col-sm-3 col-form-label">Aktif mi?</label>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="input39">
                                <label class="form-check-label" for="input39">Aktif</label>
                            </div>
                        </div>
                    </div>

                    {% set selectFields = [
                        { label: 'Kategori Seçiniz', id: 'product-category' },
                        { label: 'Tür Seçiniz', id: 'product-type' },
                        { label: 'Etiket Seçiniz', id: 'product-tag' }
                    ] %}

                    {% for selectField in selectFields %}
                        <div class="row mb-3">
                            <label for="{{ selectField.id }}"
                                   class="col-sm-3 col-form-label">{{ selectField.label }}</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="{{ selectField.id }}"
                                        data-placeholder="{{ selectField.label }}" multiple>
                                </select>
                            </div>
                        </div>
                    {% endfor %}

                    <div id="repeater-product-options">
                        <div class="items" data-group="options">
                            <div class="item-content row">
                                <div class="mb-3 col-3">
                                    <label for="price" class="form-label">Fiyata Etkisi</label>
                                    <input type="number" class="form-control" placeholder="20" data-name="price" id="price">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="description" class="form-label">Açıklama</label>
                                    <input type="text" class="form-control" placeholder="Ekstra köfte"
                                           data-name="description" id="description">
                                </div>
                                <div class="mb-3 col-3">
                                    <label for="languageCode" class="form-label">Dil kodu</label>
                                    <input type="text" class="form-control" placeholder="TR" value="tr"
                                           data-name="languageCode" id="languageCode">
                                </div>
                                <div class="mb-3 col-2 align-content-end text-center">
                                    <div class="repeater-remove-btn">
                                        <button class="btn btn-danger remove-btn px-4">Sil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="repeater-footer">
                            <button class="btn btn-primary repeater-add-btn px-4">Ekle</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Mevcut Fotoğraflar</label>
                        <div class="col-sm-9" id="existing-photos">
                        </div>
                    </div>
                    <div id="repeater-product-photos">
                    </div>

                    <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <div class="d-md-flex d-grid align-items-center gap-3">
                                <button type="button" class="btn btn-grd-primary px-4">Kaydet</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% set product = product._source %}
    <script>
        window.Twig = {
            productId: '{{ product.id }}',
            placeId: '{{ product.place }}',
            photosData : {{ product.photos | json_encode | raw }},
            productActive: {{ product.active ? 'true' : 'false' }},
            productTypes: {{ product.types | map(t => t.id) | json_encode | raw }},
            productTags: {{ product.hashtags | map(h => h.id) | json_encode | raw }},
            productCategories: {{ product.categories | map(c => c.id) | json_encode | raw }},
            productOptions: {{ product.options | json_encode | raw }},
            product: {{ product | json_encode | raw }},
        };
    </script>
    <script src="{{ asset('/script/pages/product/edit.js') }}"></script>
{% endblock javascripts %}
