{% extends 'admin/base.html.twig' %}

{% block title %}İşletme kategorileri{% endblock %}

{% block template_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatable/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2-bootstrap-5-theme.min.css') }}">
{% endblock %}

{% block body %}
    <h1>İşletmeler</h1>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="placesTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>İşletme Adı</th>
                            <th>Sahipli mi</th>
                            <th>Adres</th>
                            <th>Güncelleme tarihi</th>
                            <th>Eklenme Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_scripts %}
    <script src="{{ asset('assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatable/js/dataTables.bootstrap5.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/script/pages/product/index.js') }}"></script>
{% endblock %}